<div class="rs-component dnd-component dialog-dicebin">
	<h1>
		<span>{{entity.name}}</span>
		<span v-if="details.action">: {{details.action.name}}</span>
	</h1>
	<div class="rolling spell-level" v-if="details.spell && spellLevel">
		<div class="roll-label flex h">
			<button class="roll-key general rounded quick action" v-on:click="info(details.spell)">
				<span :class="details.spell.icon || 'fas fa-cube'"></span>
			</button>
			<div class="target flex v center grow1">
				<span>Casting: {{details.spell.name}}</span>
				<span>at Level {{spellLevel}}</span>
			</div>
		</div>
	</div>
	<div class="rolling spell-level" v-if="details.spell && !spellLevel">
		<!-- TODO: Select Spell Level for cast send -->
	</div>
	<!-- div class="rolling target" v-if="details.targeted && target">
		<div class="roll-label flex h">
			<button class="roll-key general rounded quick action" v-on:click="info(target)">
				<span :class="target.icon || 'fas fa-cube'"></span>
			</button>
			<div class="target flex v center grow1">
				<span>Target: {{target.name}}</span>
				<dnd-health-bar :entity="target"></dnd-health-bar>
			</div>
			<button class="roll-key general rounded quick action" v-on:click="clearTarget()">
				<span class="fas fa-ban"></span>
			</button>
		</div>
	</div-->
	<div class="rolling target" v-if="details.targeted">
		<div class="roll-label" v-if="!details.using">
			Target for {{getRollName()}}
		</div>
		<div class="roll-label flex h" v-if="details.using">
			<button class="roll-key general rounded quick action" v-on:click="info(details.using)">
				<span :class="details.using.icon || 'fas fa-cube'"></span>
			</button>
			<div class="flex v center grow1">
				<span>Target for {{details.using.name}}</span>
			</div>
		</div>
		<div class="to-roll flex h" v-for="targetable in targets">
			<button class="roll-key general rounded quick action" v-on:click="info(targetable)">
				<span :class="targetable.icon"></span>
			</button>
			<button class="roll-result target flex v center general rounded" v-on:click="selectTarget(targetable)" :class="getTargetClass(targetable)">
				<span>{{targetable.name}}</span>
				<dnd-health-bar :entity="targetable"></dnd-health-bar>
			</button>
		</div>
	</div>
	<div class="rolling source" v-if="details.sourcable">
		<div class="roll-label" v-if="!details.using">
			Source for {{getRollName()}}
		</div>
		<div class="to-roll flex h" v-for="entity in entities" :class="entity === source?'selected':'not-selected'">
			<button class="roll-key general rounded quick action" v-on:click="info(entity)">
				<span :class="entity.icon || 'fas fa-user'"></span>
			</button>
			<button class="roll-result target flex v center general rounded" v-on:click="selectSource(entity)">
				<span>{{entity.name}}</span>
				<dnd-health-bar :entity="entity"></dnd-health-bar>
			</button>
		</div>
	</div>
	<div class="rolling target" v-if="check">
		<div class="roll-label flex h">
			<button class="roll-key general rounded quick action" v-on:click="info(check.skill)">
				<span :class="check.skill.icon || 'fas fa-cube'"></span>
			</button>
			<div class="target flex v center grow1">
				<span>
					<span class="fas fa-dice"></span>
					<span>{{check.computed}}</span>
				</span>
			</div>
			<button class="roll-key general rounded quick action" v-on:click="clearSkill()">
				<span class="fas fa-ban"></span>
			</button>
		</div>
	</div>
	<div class="rolling skill-roll" v-if="skills.length && !check && (!details.targeted || target)">
		<div class="roll-label" v-if="!details.using">
			Roll a Skill:
		</div>
		<div class="to-roll flex h" v-for="check in skills">
			<button class="roll-key general rounded quick action" v-on:click="info(check.skill)">
				<span :class="check.skill.icon"></span>
			</button>
			<div class="roll-result flex v center" :class="getTrackedClass(check)">
				<input type="text" v-model="check.computed" :id="check.skill.id.substring(7)" v-on:focus="setTracking(check)" v-on:click.right.stop.prevent="setTracking(check, true)" :placeholder="check.formula" v-on:keyup.enter="sendSkill(check)" />
			</div>
			<button class="rounded general roll result quick action" v-if="!check.computed && check.computed !== 0" v-on:click="rollSkill(check)">
				<span class="fas fa-dice"></span>
			</button>
			<button class="rounded general roll result quick action" v-if="!check.computed && check.computed !== 0" :class="getSkillAdvIcon(check)" v-on:click="rollSkill(check, 1)">
				<span class="fas fa-chevron-double-up"></span>
			</button>
			<button class="rounded general roll result quick action" v-if="!check.computed && check.computed !== 0" :class="getSkillDisIcon(check)" v-on:click="rollSkill(check, -1)">
				<span class="fas fa-chevron-double-down"></span>
			</button>
			<div class="rolled flex h" v-if="check.dice_rolls">
				<div class="results flex h" v-for="(results, die) in check.dice_rolls" v-if="die !== 'vantage'">
					<button class="result rounded general action" v-for="(result, $index) in results" v-on:click="reroll(check, die, $index)" v-on:click.right.stop.prevent="removeRoll(check, die, $index)">
						<span class="fas" :class="'fa-dice-' + die"></span>
						<span class="die-roll">{{result}}</span>
					</button>
				</div>
			</div>
			<button class="rounded general roll result quick action" v-if="check.computed || check.computed === 0" v-on:click="clearSkill(check)">
				<span class="fas fa-ban"></span>
			</button>
			<button class="rounded general roll result quick action" v-if="check.computed || check.computed === 0" v-on:click="sendSkill(check)">
				<span class="fas fa-share-square"></span>
			</button>
		</div>
	</div>
	<div class="response dnd-widget align-center" v-if="statusResponse">
		<div class="divider"></div>
		<div>{{statusResponse}}</div>
		<div class="divider"></div>
	</div>
	<div class="rolling" v-if="rolling.length">
		<div class="roll-label" v-if="!details.using">
			Rolling {{details.rolling.name || "Stat Roll"}}:
		</div>
		<div class="roll-label flex h" v-if="details.using">
			<button class="roll-key general rounded quick action" v-on:click="info(details.using)">
				<span :class="details.using.icon || 'fas fa-cube'"></span>
			</button>
			<div class="flex v center grow1">
				<span>Rolling {{details.using.name}}</span>
			</div>
		</div>
		<div class="to-roll flex h" v-for="roll in rolling">
			<button class="roll-key general rounded quick action" v-if="roll.key.id" v-on:click="info(roll.key)">
				<span :class="roll.key.icon"></span>
			</button>
			<div class="roll-key" v-if="!roll.key.id">
				<span>{{roll.key}}</span>
			</div>
			<div class="roll-result flex v center" :class="getTrackedClass(roll)">
				<input type="text" v-model="roll.computed" v-on:focus="setTracking(roll)" v-on:click.right.stop.prevent="setTracking(roll, true)" :placeholder="roll.formula" v-on:keyup.enter="sendResults()" />
			</div>
			<div class="rolled flex h" v-if="roll.dice_rolls">
				<div class="results flex h" v-for="(results, die) in roll.dice_rolls">
					<button class="result rounded general action" v-for="(result, $index) in results" v-on:click="reroll(roll, die, $index)" v-on:click.right.stop.prevent="removeRoll(roll, die, $index)">
						<span class="fas" :class="'fa-dice-' + die"></span>
						<span class="die-roll">{{result}}</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="damage" v-if="details.damage">
		<div class="roll-label">
			Damage Roll:
		</div>
		<div class="h-container damage-types">
			<div class="flex h">
				<button class="roll-key general rounded quick action" v-for="dmg in damageTypes" v-if="!damageActive[dmg.id]" v-on:click="addDamageType(dmg)" v-on:click.right.prevent.stop="info(dmg)">
					<span :class="dmg.icon"></span>
				</button>
			</div>
		</div>
		<div class="to-roll flex h" v-for="roll in damages">
			<button class="roll-key general rounded quick action" v-if="roll.key.id" v-on:click="info(roll.key)" v-on:click.right.stop.prevent="dismissDamage(roll)">
				<span :class="roll.key.icon"></span>
			</button>
			<div class="roll-key" v-if="!roll.key.id">
				<span>{{roll.key}}</span>
			</div>
			<div class="roll-result flex v center" :class="getTrackedClass(roll)">
				<input type="text" v-model="roll.computed" v-on:focus="setTracking(roll)" v-on:click.right.stop.prevent="setTracking(roll, true)" :placeholder="roll.formula" v-on:keyup.enter="sendResults()" />
			</div>
			<div class="rolled flex h" v-if="roll.dice_rolls">
				<div class="results flex h" v-for="(results, die) in roll.dice_rolls">
					<button class="result rounded general action" v-for="(result, $index) in results" v-on:click="reroll(roll, die, $index)" v-on:click.right.stop.prevent="removeRoll(roll, die, $index)">
						<span class="fas" :class="'fa-dice-' + die"></span>
						<span class="die-roll">{{result}}</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="damage" v-if="resists.length">
		<div class="roll-label">
			Resistance Roll:
		</div>
		<div class="to-roll flex h" v-for="roll in resists">
			<button class="roll-key general rounded quick action" v-if="roll.key.id" v-on:click="info(roll.key)">
				<span :class="roll.key.icon"></span>
			</button>
			<div class="roll-key" v-if="!roll.key.id">
				<span>{{roll.key}}</span>
			</div>
			<div class="roll-result flex v center" :class="getTrackedClass(roll)">
				<input type="text" v-model="roll.computed" v-on:focus="setTracking(roll)" v-on:click.right.stop.prevent="setTracking(roll, true)" :placeholder="roll.formula" v-on:keyup.enter="sendResults()" />
			</div>
			<div class="rolled flex h" v-if="roll.dice_rolls">
				<div class="results flex h" v-for="(results, die) in roll.dice_rolls">
					<button class="result rounded general action" v-for="(result, $index) in results" v-on:click="reroll(roll, die, $index)" v-on:click.right.stop.prevent="removeRoll(roll, die, $index)">
						<span class="fas" :class="'fa-dice-' + die"></span>
						<span class="die-roll">{{result}}</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="roll-complete flex h">
		<button class="general rounded action roll-action" v-if="getResultState() >= 0" v-on:click="sendResults(resists)">
			<span :class="getSendResultIcon()"></span>
			<span>{{getFinishName()}}</span>
		</button>
		<button class="general rounded action roll-action" v-if="rolling.length || damages.length || resists.length" v-on:click="autoRoll()">
			<span class="game-icon game-icon-rolling-dice-cup"></span>
			<span>Auto-Fill</span>
		</button>
		<button class="general rounded action roll-action" v-if="rolling.length || damages.length || resists.length" v-on:click="clearRolls()">
			<span class="far fa-ban"></span>
			<span>Clear</span>
		</button>
	</div>
	<div class="input">
		<div class="flex h center">
			<button class="rounded general quick action dice" v-for="dice in die" v-on:click="rollDice(dice)">
				<span class="action-icon" :class="dice.icon"></span>
				<span class="action-count" v-if="active && active.dice_rolls && active.dice_rolls[dice.id] && active.dice_rolls[dice.id].length">{{active.dice_rolls[dice.id].length}}</span>
			</button>
		</div>
		<div class="flex h">
			<input type="text" v-model="storage.formula" v-on:keydown.enter="roll(storage.formula)" v-on:keydown.esc.prevent.stop="clearHistory()" v-on:keyup.esc.prevent.stop="" v-on:keypress.esc.prevent.stop="" v-on:focus="setTracking(null)" />
			<button class="rounded general quick action dice" v-on:click="roll(storage.formula)">
				<span class="fas fa-dice"></span>
			</button>
			<button class="rounded general quick action dice" v-on:click="clearHistory()">
				<span class="fas fa-ban"></span>
			</button>
		</div>
	</div>
	<div class="h-container roll-history">
		<div class="output flex h">
			<div class="roll inline flex v" v-for="(roll, $index) in storage.rolls" v-on:click.right.prevent.stop="dismiss($index)" :class="roll == active?'active':''" :title="roll.title || JSON(roll)">
				<button class="result flat action rs-white rsbg-black">{{roll.computed}}</button>
				<div class="formula">{{roll.name || roll.formula}}</div>
				<!-- div class="delay" v-if="roll.delay">{{roll.delay}}ms</div -->
				<div class="footnote" v-if="roll.footnote">{{roll.footnote}}</div>
			</div>
		</div>
	</div>
</div>
