.dnd-component.character-overview {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;

	.widgets.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		z-index: 2;

		.widget {
			width: 100%;
		}
	}

	.imagery-container {
		position: sticky;
		width: 100%;
		top: 0px;
	}

	.imagery {
		position: absolute;
		z-index: 1;
	}
}
