.rs-page {
	::-webkit-scrollbar {
		width: 12px;
	}

	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px black;
		box-shadow: inset 0 0 6px black;
	}

	::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px @rsDarkBlue;
		box-shadow: inset 0 0 6px @rsDarkBlue;
		border-radius: 10px;
	}
}