.dnd-component.dialog-dnd-check {
	position: relative;
	border-radius: 5px;
	overflow: auto;
	// padding: 7px 7px;

	.heading {
		margin: 5px;
		font-size: 20px;
	}

	.dice {
		position: sticky;
		left: 5px;
		margin: 5px;

		button {
			margin: 0px 0px 0px 5px;

			&:first-child {
				margin: 0px;
			}
		}
	}

	.controls {
		position: sticky;
		left: 5px;
		margin: 5px;
		line-height: 30px;

		span {
			line-height: 30px;
		}
	}
}
