.dnd-component.entity-name {
	display: block;
	position: relative;

	.bar {
		// margin: 5px;
	}

	.name {
		.property {
			font-size: 24px;
		}
	}

	.level {
		.property {
			font-size: 14px;
		}
	}
}
