<div class="rs-page dnd-page master-soundboard" v-on:click.right.stop.prevent="checkToEditRecord($event)">
	<div class="soundboard-panel">
		<div class="soundboard-controls">
			<!--
			Play Order:
				Cascade Left
				Cascade Right
				Out
				In
			Discovery: (TODO: Use Discovery Objects)
				Sonos 
			-->
			<div class="soundboard-options">
				<button class="primary general rounded action" v-on:click="toggleAction('follow_type')">
					<span class="action-icon" :class="storage.follow_type?'fa-solid fa-square-check':'fa-light fa-square'"></span>
					<span class="action-text">Act: Type</span>
				</button>
				<button class="primary general rounded action" v-on:click="toggleAction('follow_weather')">
					<span class="action-icon" :class="storage.follow_weather?'fa-solid fa-square-check':'fa-light fa-square'"></span>
					<span class="action-text">Act: Weather</span>
				</button>
			</div>
			<div class="soundboard-options soundboard-controls">
				<button class="primary general rounded action" v-on:click="toggleAll()">
					<span class="action-icon" :class="storage.show_all?'fa-solid fa-square-check':'fa-light fa-square'"></span>
					<span class="action-text">Show All</span>
				</button>
				<button class="primary general rounded action" v-on:click="stopAll()">
					<span class="action-icon fa-solid fa-volume-xmark"></span>
					<span class="action-text">Stop All</span>
				</button>
				<button class="primary general rounded action" v-on:click="discoverySonos()">
					<span class="action-icon fa-solid fa-mobile-signal-out"></span>
					<span class="action-text">Discovery</span>
				</button>
				<button class="primary general rounded action" v-on:click="controllersReport()">
					<span class="action-icon fa-solid fa-print"></span>
					<span class="action-text">Reports</span>
				</button>
				<button class="primary general rounded action" v-on:click="controllersCreate()">
					<span class="action-icon fa-solid fa-waveform"></span>
					<span class="action-text">Create</span>
				</button>
				<button class="primary general rounded action" v-on:click="stopSoundscape()">
					<span class="action-icon fa-solid fa-music-note-slash"></span>
					<span class="action-text">Stop Scape</span>
				</button>
			</div>
		</div>
		<div class="soundboard-destinations">
			<h3>Room Controllers</h3>
			<div class="soundboard-roomcontrols">
				<div class="soundboard-room-volume">
					<input v-model.number="storage.volume" v-on:change="setVolume()" type="range" min="1" max="100" class="slider">
				</div>
				<div class="soundboard-roomcontrol" v-for="ctrl in available.roomctrl">
					<button class="primary general rounded action" v-on:click="toggleDestination(ctrl)">
						<span class="action-icon" :class="classTargetted(ctrl)"></span>
						<span class="action-text">{{ctrl.name}}</span>
					</button>
					<button class="flat action fa-solid fa-info-circle rs-light-blue" v-on:click="info(ctrl)"></button>
				</div>
			</div>
			<h3>Players</h3>
			<div class="soundboard-players">
				<div class="swap">
					<button class="primary general quick rounded action" v-on:click="savePlayerSelection()">
						<span class="action-icon" :class="classPlayerSave()"></span>
					</button>
					<button class="primary general quick rounded action" v-on:click="applyPlayerSelection()">
						<span class="action-icon fa-solid fa-floppy-disk-circle-arrow-right"></span>
					</button>
					<button class="primary general quick rounded action" v-on:click="swapPlayerSelection()">
						<span class="action-icon" :class="classPlayerSwap()"></span>
					</button>
					<button class="primary general quick rounded action" v-on:click="togglePlayerSelection()">
						<span class="action-icon fa-solid" :class="clearIcon"></span>
					</button>
				</div>
				<div class="soundboard-player" v-for="player in available.player" v-on:click="toggleDestination(player)">
					<button class="primary general rounded action">
						<span class="action-icon" :class="classTargetted(player)"></span>
						<span class="action-text">{{player.name}}</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="soundboard-selections">
		<h3>Playlists</h3>
		<div class="soundboard-playlists flex h wrap">
			<div class="soundboard-sound soundboard-playlist" v-for="playlist in playlists" v-if="!playlist.is_preview">
				<button class="general rounded action quick play" v-on:click="start(playlist)">
					<span class="action-icon fa-solid fa-play"></span>
				</button>
				<button class="general rounded action quick stop" v-on:click="stop()">
					<span class="action-icon fa-solid fa-stop"></span>
				</button>
				<span class="action-text">{{playlist.name}}</span>
				<button class="action flat rs-light-blue" v-on:click="info(playlist)">
					<span class="action-icon fa-solid fa-info-circle"></span>
				</button>
			</div>
		</div>
		<h3>Audios</h3>
		<rs-input type="text" v-model="storage.filter" placeholder="Filter items..."></rs-input>
		<div class="soundboard-audios flex h wrap">
			<div class="soundboard-sound soundboard-category flex v fill" v-for="(audios, id) in categories" v-if="!storage.focused || id === storage.focused">
				<div class="soundboard-title rs-light-yellow">
					<span>{{getCategoryName(id)}}</span>
					<button class="quick flat action fa-solid rs-white" :class="id === storage.focused?'fa-eye-slash':'fa-eye'" v-on:click="focusCategory(id)"></button>
				</div>
				<div class="flex h wrap">
					<div class="soundboard-sound soundboard-audio" v-for="audio in audios" :class="audioClass(audio)">
						<button class="general rounded action quick play" v-on:click="play(audio)">
							<span class="action-icon fa-solid fa-play"></span>
						</button>
						<button class="general rounded action quick stop" v-on:click="stop(audio)">
							<span class="action-icon fa-solid fa-stop"></span>
						</button>
						<span class="action-text">{{audio.name}}</span>
						<button class="action flat rs-light-blue" v-if="audio.is_looped" v-on:click="info('knowledge:master:looped')">
							<span class="action-icon fa-solid fa-repeat"></span>
						</button>
						<button class="action flat rs-light-blue" v-on:click="info(audio)">
							<span class="action-icon fa-solid fa-info-circle"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<h3>Soundscapes</h3>
		<div class="soundboard-soundscapes flex h wrap">
			<div class="soundboard-sound soundboard-soundscape" v-for="scape in soundscapes" :class="soundscapeClass(scape)" v-if="!scape.is_preview">
				<button class="general rounded action quick play" v-on:click="playSoundscape(scape)">
					<span class="action-icon fa-solid fa-play"></span>
				</button>
				<button class="general rounded action quick stop" v-on:click="stopSoundscape(scape)">
					<span class="action-icon fa-solid fa-stop"></span>
				</button>
				<span class="action-text">{{scape.name}}</span>
				<button class="action flat rs-light-blue" v-on:click="info(scape)">
					<span class="action-icon fa-solid fa-info-circle"></span>
				</button>
			</div>
		</div>
		<h3>Tablescape</h3>
		<table class="soundscape">
			<tr>
				<td>
					<h4>Room Controller</h4>
					<select class="soundboard-player" v-model="storage.soundscape.arrangement[0]">
						<option v-for="ctrl in available.roomctrl" :value="ctrl.id">{{ctrl.name}}</option>
					</select>
				</td>
				<td>
					<h4>-1</h4>
					<select class="soundboard-player" v-model="storage.soundscape.arrangement[9]">
						<option v-for="player in available.player" :value="player.id">{{player.name}}</option>
					</select>
				</td>
				<td>
					<h4>-2</h4>
					<select class="soundboard-player" v-model="storage.soundscape.arrangement[8]">
						<option v-for="player in available.player" :value="player.id">{{player.name}}</option>
					</select>
				</td>
				<td>
					<h4>-3</h4>
					<select class="soundboard-player" v-model="storage.soundscape.arrangement[7]">
						<option v-for="player in available.player" :value="player.id">{{player.name}}</option>
					</select>
				</td>
				<td>
					<h4>-4</h4>
					<select class="soundboard-player" v-model="storage.soundscape.arrangement[6]">
						<option v-for="player in available.player" :value="player.id">{{player.name}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<h4>Dungeon Master</h4>
					<select class="soundboard-player" v-model="storage.soundscape.arrangement[10]">
						<option v-for="player in available.player" :value="player.id">{{player.name}}</option>
					</select>
				</td>
				<td colspan="4" class="align-center">
					TABLE
				</td>
			</tr>
			<tr>
				<td>
					<h4>Auxillery Controller</h4>
					<select class="soundboard-player" v-model="storage.soundscape.arrangement[20]">
						<option v-for="ctrl in available.roomctrl" :value="ctrl.id">{{ctrl.name}}</option>
					</select>
				</td>
				<td>
					<h4>1</h4>
					<select class="soundboard-player" v-model="storage.soundscape.arrangement[11]">
						<option v-for="player in available.player" :value="player.id">{{player.name}}</option>
					</select>
				</td>
				<td>
					<h4>2</h4>
					<select class="soundboard-player" v-model="storage.soundscape.arrangement[12]">
						<option v-for="player in available.player" :value="player.id">{{player.name}}</option>
					</select>
				</td>
				<td>
					<h4>3</h4>
					<select class="soundboard-player" v-model="storage.soundscape.arrangement[13]">
						<option v-for="player in available.player" :value="player.id">{{player.name}}</option>
					</select>
				</td>
				<td>
					<h4>4</h4>
					<select class="soundboard-player" v-model="storage.soundscape.arrangement[14]">
						<option v-for="player in available.player" :value="player.id">{{player.name}}</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
</div>
