<div class="system-component system-menu rs-component" :class="storage.classing">
	<div class="navigation">
		<button class="navigation-item" v-for="item in items.app" v-if="isActive(item)" :class="getItemClassing(item)" v-on:click="processNavigation(item)" :key="item.path">
			<span class="nav-icon" :class="item.icon"></span>
		</button>
		<div class="separator"></div>
		<button class="navigation-item" :class="getItemClassing(chatItem)" v-on:click="processNavigation(chatItem)">
			<span class="nav-icon" :class="chatItem.icon"></span>
		</button>
		<button class="navigation-item" :class="getItemClassing(optionsItem)" v-on:click="processNavigation(optionsItem)">
			<span class="nav-icon" :class="optionsItem.icon"></span>
		</button>
		<button class="navigation-item collapse-item" :class="getItemClassing(collapseItem)" v-on:click="processNavigation(collapseItem)">
			<span class="nav-icon" :class="collapseItem.icon"></span>
		</button>
	</div>
	<button class="navigation-item collapse-item actual" :class="getItemClassing(collapseItem)" v-on:click="processNavigation(collapseItem)">
		<span class="nav-icon" :class="collapseItem.icon"></span>
	</button>
</div>
