.dnd-component.dialog-give {
	display: flex;
	flex-direction: column;

	.entity-select {
		padding: 5px;
		margin: 5px;
	}

	.entities {
		overflow: auto;
	}

	.entity-details {
		position: relative;
		width: 100%;

		.entity-name {
			position: relative;
			font-size: 22px;
			padding-bottom: 10px;

			.display-healthbar {
				// width: 150px !important;
			}
		}

		.entity-description {
			max-width: 450px;
			font-size: 16px;

			ul, ol, p {
				margin: 0px 0px 1em 0px;

				&:last-child {
					margin: 0px;
				}
			}
		}
	}

	.entity-select {
		border-width: 2px !important;
	}

	.entity:hover {
		.entity-select {
			box-shadow: 0px 0px 10px @rsWhite;
		}
		&.is_npc {
			.entity-select {
				box-shadow: 0px 0px 10px @rsLightBlue;
			}
		}
	
		&.is_hostile {
			.entity-select {
				box-shadow: 0px 0px 10px @rsLightRed;
			}
		}
	
		&.is_chest {
			.entity-select {
				box-shadow: 0px 0px 10px @rsLightOrange;
			}
		}
	
		&.is_shop {
			.entity-select {
				box-shadow: 0px 0px 10px @rsDarkOrange;
			}
		}
	}

	.is_npc {
		.entity-select {
			border-color: @rsLightBlue;
		}
	}

	.is_hostile {
		.entity-select {
			border-color: @rsLightRed;
		}
	}

	.is_chest {
		.entity-select {
			border-color: @rsLightOrange;
		}
	}

	.is_shop {
		.entity-select {
			border-color: @rsDarkOrange;
		}
	}
}
