<div class="dnd-component entity-properties">
	<div class="flex h wrap">
		<button class="rounded general action entity-property" v-on:click.stop.preventDefault="damaging()">
			<span class="icon fas fa-heartbeat"></span>
			<span>
				<span>{{entity.hp}}</span>
				<span class="seperator">/</span>
				<span>{{entity.hp_max}}</span>
			</span>
		</button>
		<button class="rounded general action entity-property" v-for="field in properties" v-on:click.stop.preventDefault="openProperty(field)" :title="field.name" :class="classProperty(field)">
			<span :class="field.icon"></span>
			<span v-if="!field.icon">{{field.name}}</span>
			<span>{{getName(field, entity[field.id])}}</span>
		</button>
	</div>
</div>
