<div class="rs-component component-nouns" v-save="modify" v-new="newObject">
	<div class="selections">
		<div class="selection">
			<label class="">
				<span>Noun:</span>
				<select v-model="storage.classification" v-on:change="reclassing()">
					<option v-for="type in classes" :value="type.id">{{type.name}}</option>
				</select>
			</label>
		</div>
		<div class="sourcing">
			<label class="">
				<span>Copy:</span>
				<select v-model="copy" v-on:change="copySource(copy)">
					<option v-for="source in sources" :value="source.id" :title="source.id + ' - ' + source.description" v-if="usableSource(source)">{{source.name || source.id}}</option>
				</select>
			</label>
		</div>
	</div>

	<div class="building">
		<div class="simplified-editor" v-if="!storage.advanced_editor">
			<rs-field :root="details" :field="idfield" :universe="universe" v-on:changed="sync($event)" v-on:complete="completed(idfield.id)" v-on:blur="adjust(idfield.id)">
				<span slot="info">
					<button class="clear-link ctrl-link flat fas fa-ban" v-on:click="clearField(idfield.id)" tabindex=2>
					</button>
				</span>
			</rs-field>
			<rs-field v-for="field in fields" :root="details" :field="field" :universe="universe" v-on:changed="sync($event)" v-on:complete="completed(field.id)" v-on:blur="adjust(field.id)" :key="field.id">
				<span slot="info">
					<span v-if="field.id === 'icon'" :class="details.icon"></span>
					<button class="info-link ctrl-link copy-parent fas fa-copy" v-if="displayCopyFromParent(field.id)" v-on:click="copyParent(field.id)" tabindex=2>
					</button>
					<button class="clear-link ctrl-link flat fas fa-ban" v-on:click="clearField(field)" tabindex=2>
					</button>
					<button class="clear-link ctrl-link flat fas fa-times-octagon" v-on:click="noData(field)" tabindex=2>
					</button>
				</span>
			</rs-field>
		</div>

		<div class="advanced-editor" v-if="storage.advanced_editor">
			<textarea v-model="storage.rawValue" v-tab v-filedrop="fileAttach">
			</textarea>
			<label v-if="storage.current === 'image'">
				<span>Select Image File:</span>
				<input type="file" id="attacher" accept="image/*" v-on:change="selectImage($event)" />
			</label>
		</div>
	</div>

	<div class="actions">
		<button class="primary-action" v-on:click="newObject()">
			<span class="action-icon fas fa-file-plus"></span>
			<span class="action-text">New</span>
		</button>
		<button class="primary-action" v-on:click="modify()">
			<span class="action-icon fas fa-cloud-upload"></span>
			<span class="action-text">Save</span>
		</button>
		<button class="primary-action" v-on:click="dropObject()" v-if="this.details.id">
			<span class="action-icon fas fa-trash"></span>
			<span class="action-text">Drop</span>
		</button>
		<button class="primary-action" v-on:click="toggleEditMode()">
			<span class="action-icon far" :class="storage.advanced_editor?'fa-check-square':'fa-square'"></span>
			<span class="action-text">Advanced</span>
		</button>
	</div>
</div>
