<div class="rs-component component-nouns" v-save="modify" v-new="newObject">
	<div class="selections">
		<div class="selection ctrl-row flex h">
			<span class="labeling">Noun:</span>
			<select v-model="storage.classification" v-on:change="reclassing()">
				<option v-for="type in classes" :value="type.id">{{type.name}}</option>
			</select>
			<button class="flat rs-white action far include" v-for="included in includes" v-on:click="toggleInclude(included)" :title="included"  :class="includeClasses(included)"></button>
			<div class="filter-containter flex v">
				<input type="text" class="filter-input grow-1" v-delayed:200.lower="storage.fieldFilter"/>
			</div>
		</div>
		<div class="sourcing ctrl-row flex h">
			<span class="labeling">Copy:</span>
			<select class="grow-1" v-model="copy" v-on:change="copySource(copy)">
				<option v-for="source in sources" :value="source.id" :title="source.id + ' - ' + source.description" v-if="usableSource(source)">{{nameSource(source)}}</option>
			</select>
		</div>
	</div>

	<div class="building">
		<div class="simplified-editor" v-if="!storage.advanced_editor">
			<rs-field :root="details" :field="idfield" :universe="universe" v-on:changed="sync($event)" v-on:complete="completed(idfield.id)" v-on:blur="adjust(idfield.id)" :storage="storage.swap[classification]">
				<span slot="info">
					<button class="clear-link ctrl-link flat fas fa-ban" v-on:click="clearField(idfield.id)" tabindex=2>
					</button>
				</span>
			</rs-field>
			<rs-field v-for="field in fields" :root="details" :field="field" :universe="universe" v-on:changed="sync($event)" v-on:complete="completed(field.id)" v-on:blur="adjust(field.id)" v-if="isVisible(field)" :key="field.id" :storage="storage.swap[classification]">
				<span slot="info">
					<span v-if="field.id === 'icon' || field.type === 'icon'" :class="details[field.id]"></span>
					<button class="clear-link ctrl-link flat fas fa-info-circle" v-if="field.inheritable && details[field.id]" v-on:click="info(details[field.id])" tabindex=2>
					</button>
					<button class="info-link ctrl-link copy-parent fas fa-copy" v-if="displayCopyFromParent(field.id)" v-on:click="copyParent(field.id)" tabindex=2>
					</button>
					<button class="clear-link ctrl-link flat fas fa-clock" v-if="field.type === 'gametime'" v-on:click="setTimeToNow(field)" tabindex=2>
					</button>
					<!-- No longer reseting field, nulling it only
					<button class="clear-link ctrl-link flat fas fa-ban" v-on:click="clearField(field)" tabindex=2>
					</button>
					-->
					<button class="clear-link ctrl-link flat fas fa-times-octagon" v-on:click="noData(field)" tabindex=2>
					</button>
					<span v-if="field.attribute.server_only">
						<span class="fas fa-server rs-light-red" title="Field data restricted to the Server"></span>
					</span>
					<span v-if="field.attribute.deprecated">
						<span class="fas fa-sensor-alert rs-light-red" title="This field is deprecated"></span>
					</span>
					<span v-if="hasInheritance(field)">
						<span class="fas fa-chart-network rs-light-yellow" title="This field has inherited data from children"></span>
					</span>
				</span>
			</rs-field>
		</div>

		<div class="advanced-editor" v-if="storage.advanced_editor">
			<textarea v-model="storage.rawValue" v-tab v-filedrop="fileAttach">
			</textarea>
			<label v-if="storage.current === 'image'">
				<span>Select Image File:</span>
				<input type="file" id="attacher" accept="image/*" v-on:change="selectImage($event)" />
			</label>
		</div>
	</div>

	<div class="actions">
		<button class="primary-action" v-on:click="newObject()">
			<span class="action-icon fas fa-file-plus"></span>
			<span class="action-text">New</span>
		</button>
		<button class="primary-action" v-on:click="modify()">
			<span class="action-icon fas fa-cloud-upload"></span>
			<span class="action-text">Save</span>
		</button>
		<button class="primary-action" v-on:click="dropObject()" v-if="this.details.id">
			<span class="action-icon fas fa-trash"></span>
			<span class="action-text">Drop</span>
		</button>
		<button class="primary-action" v-on:click="toggleEditMode()">
			<span class="action-icon far" :class="storage.advanced_editor?'fa-check-square':'fa-square'"></span>
			<span class="action-text">Advanced</span>
		</button>
	</div>
</div>
