<div class="rs-component rs-stat-block">
	<div class="filter-container" v-if="filterable">
		<span class="filter-indicator fas fa-spinner fa-pulse"></span>
		<input type="text" v-delayed:200.lower="filtering" v-on:keydown.esc.stop="filtering = ''" placeholder="Filter Information List..." />
	</div>
	<div class="general-warning-dark" v-if="object.must_know">
		<span class="fas fa-info-circle rs-dark-yellow"></span>
		<span>There may be things about this that you have yet to know or understand</span>
	</div>
	<rs-display-field class="stat" v-for="field in fields" :universe="universe" :field="field.id" :object="object" :key="field.id" :empties="empties" :marking="marking"></rs-display-field>
</div>
