<div class="rs-page page-release">
	<div class="planning" :class="planningStyling">
		<!--
			Readout for the resulting (Or selected) Release if it exists or not | This involves a timesort and analysis of the current day vs. the "next" release

			This needs to adjust to selected releases
		-->
		<div class="plan done" :class="releaseStyleClasses" v-save="updateRelease">
			<h2 class="plan-title">Release</h2>
			<rs-form :universe="universe" :player="player" :profile="profile" :details="release" :fields="releaseFields" :show_undefined="false"></rs-form>
			<div class="controls flex h">
				<button class="primary general rounded action" v-on:click="updateRelease(release)">
					<span>Update</span>
				</button>
				<button class="primary general rounded action" v-on:click="clearRelease()">
					<span>Clear</span>
				</button>
				<button class="primary general rounded action" v-on:click="populateRelease(release)">
					<span>Pull</span>
				</button>
				<button class="primary general rounded action" v-on:click="completeRelease(release)">
					<span>Release</span>
				</button>
			</div>
		</div>
		<!--
			Form for viewed Task
		-->
		<div class="plan task" v-save="updateTask">
			<h2 class="plan-title">Task</h2>
			<rs-form :universe="universe" :player="player" :profile="profile" :details="task" :fields="taskFields" :show_undefined="false"></rs-form>
			<div class="controls flex h">
				<button class="primary general rounded action" v-on:click="updateTask(task)">
					<span v-if="task && task.id">Update</span>
					<span v-else>Create</span>
				</button>
				<button class="primary general rounded action" v-on:click="clearTask()">
					<span v-if="task && task.id">New</span>
					<span v-else>Clear</span>
				</button>
				<button class="primary general rounded action" v-if="task && task.id" v-on:click="copyTask(task)">
					<span>Copy</span>
				</button>
				<button class="primary general rounded action" v-if="task && task.id" v-on:click="populateTask(task)">
					<span>Associations</span>
				</button>
			</div>
		</div>
		<!--
			Reference list for different priorities and efforts
		-->
		<div class="plan reference" v-save="updateTask">
			<h2 class="plan-title">Effort Reference <button class="flat action fa-solid fa-refresh rs-white" v-on:click="buildReferences()"></button></h2>
			<div class="flex v">
				<div class="reference-data flex h v-center nowrap" v-for="(reference, i) in references.effort" v-if="reference">
					<span class="task-effort">
						<span class="effort">{{i}}</span>
					</span>
					<button class="flat action reference-info fa-solid fa-circle-info rs-blue" v-on:click="info(reference)"></button>
					<span class="name grow-10">{{reference.name}}</span>
				</div>
			</div>
			<h2 class="plan-title">Priority Reference</h2>
			<div class="flex v">
				<div class="reference-data flex h v-center nowrap" v-for="(reference, i) in references.priority" v-if="reference">
					<span class="task-effort">
						<span class="priority">{{i}}</span>
					</span>
					<button class="flat action reference-info fa-solid fa-circle-info rs-blue" v-on:click="info(reference)"></button>
					<span class="name grow-10">{{reference.name}}</span>
				</div>
			</div>
		</div>
		<button class="reference-tab" v-on:click="toggleReferenceFlyout()">
			<span class="tab-icon fa-solid fa-chevron-right"></span>
		</button>
		<!--
			List of all tasks with release markers in line here for component control

			Release markers are "ghosts" for uncreated releases
			
			Clicking a non-existent release creates it in a lose sense (Date, name, id)
		-->
		<div class="plan list">
			<div class="list-filter flex v">
				<input type="text" v-delayed="filterText" />
				<span class="filtering-icon buffering fa-solid fa-spinner fa-spin-pulse"></span>
				<span class="filtering-icon ready fa-solid fa-filter"></span>
				<span class="alert-no-release fa-solid fa-exclamation-triangle rs-dark-yellow" v-if="!universe.index.setting['setting:release'] || !universe.index.setting['setting:release'].value" title="There is no release currently set"></span>
			</div>
			<div class="planned-warning" v-if="warning" v-on:click="info(getFirstRelease())">
				<div class="planned-warning-object">
					<span class="warning-info fa-solid fa-exclamation-triangle fa-beat-fade rs-light-red action general flat"></span>
					<span class="warning-name">{{warning.name}}</span>
					<button class="fa-solid fa-circle-info rs-blue action general flat" v-on:click.stop="info(warning)"></button>
				</div>
				<p>{{warningText || "Issue with the noted release related object"}}</p>
			</div>
			<div class="planned-task" v-for="task in queue" v-on:click="open(task)">
				<div class="task-line release" v-if="task._class === 'dmrelease'" :class="getReleaseStyles(task)">
					<!-- Name - Ghosted if not real (no id) -->
					<span class="task-effort">
						<span :class="getReleaseIcon(task)"></span>
					</span>
					<span class="task-effort" title="Effort">
						<span class="effort">{{release_effort[task.date_started]}}</span>
					</span>
					<span class="task-effort hover-only">
						<button class="flat action info fa-solid fa-info-circle rs-blue" v-if="task.id" v-on:click.stop="info(task)"></button>
					</span>
					<span class="task-name">{{task.name}}</span>
					<span class="task-notice" v-if="notice_timeshift[task.date_started]" title="Temporal descrepency - Calendar Time Adjustment Likely Occurs During this Release Period (ie. Daylight Savings Time)">
						<span class="fa-regular fa-calendars rs-light-yellow"></span>
					</span>
					<span class="task-date">
						<span class="date">{{getDate(task.date_started)}}</span>
					</span>
					<span class="task-date">
						<span class="date">{{getDate(task.date_completed)}}</span>
					</span>
				</div>
				<div class="task-line" v-if="taskVisible(task)">
					<span class="task-effort" title="Effort">
						<span class="effort">{{task.effort}}</span>
					</span>
					<span class="task-effort" title="Priority">
						<span class="priority">{{task.priority}}</span>
					</span>
					<span class="task-effort hover-only">
						<button class="flat action info fa-solid fa-info-circle rs-blue" v-if="task.id" v-on:click.stop="info(task)"></button>
					</span>
					<span class="task-notice" v-if="task.date_completed" title="This task is complete">
						<span class="fa-regular fa-check rs-light-green"></span>
					</span>
					<span class="task-notice" v-if="!task.id" title="This is a pending task that needs created">
						<span class="fa-regular fa-exclamation-triangle rs-yellow fa-fade"></span>
					</span>
					<span class="task-notice alerting" v-if="notice_missed[task.id]" :title="'This repeating task has missed ' + notice_missed[task.id] + ' iterations'">
						<span class="fa-regular fa-exclamation-triangle rs-red fa-fade"></span>
						<span>{{notice_missed[task.id]}}</span>
					</span>
					<span class="task-category"v-if="trackedCategory[task.id]">
						<span :class="getTaskCategory(task)">{{trackedCategory[task.id].name}}</span>
					</span>
					<span class="task-name">{{task.name}}</span>
					<span class="task-notice" v-if="notice_needed[task.id]" title="Failing to meet deadline">
						<span class="fa-regular fa-calendar-clock rs-light-red"></span>
					</span>
					<span class="task-date" v-if="task.date_needed">
						<span class="date">{{getDate(task.date_needed)}}</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
