<div class="render-roll" :class="classing">
	<div class="character" v-if="entity">
		<button class="flat rs-white action entity" v-if="entity" v-on:click="info(entity)">
			<span>{{entity.name}}</span>
		</button>
	</div>
	<div class="origin">
		<button class="flat rs-white action channel" v-if="channel" v-on:click="info(channel)">
			<span v-if="occurred.data.level">Level {{occurred.data.level}}</span>
			<span>{{channel.name}}</span>
		</button>
		<span v-if="source">
			<span>(From</span>
			<button class="flat rs-white action source" v-on:click="info(source)">
				<span>{{source.name}}</span>
			</button>
			<span>)</span>
		</span>
	</div>
	<div class="details">
		<span class="skill" v-if="skill">
			<span :class="skill.icon"></span>
			<span class="name">{{skill.name}}:</span>
		</span>
		<span class="check" v-else="skill">
			<span class="name">Check:</span>
		</span>
		<span class="result">{{occurred.data.result}}</span>
		<span class="result" v-if="occurred.data.difficulty">(vs DC{{occurred.data.difficulty}})</span>
		<span class="dice">
			<span class="type" v-for="(rolled, type) in occurred.data.dice" v-if="rolled.length">
				<span v-if="type !== 'vantage'">
					<span :class="'fas fa-dice-' + type"></span>
					<span class="rolls">{{joinRolls(rolled)}}</span>
				</span>
			</span>
			<span v-if="occurred.data.dice && occurred.data.dice.vantage">
				<span class="rolls">(From: {{joinRolls(occurred.data.dice.vantage)}})</span>
			</span>
		</span>
	</div>
	<div class="date">
		<span class="fas fa-clock"></span>
		<span>{{occurred.data.gametime}}</span>
		<span> ( {{occurred.date}} )</span>
	</div>
</div>
