<div class="rs-component dnd-component entity-broad flex h">
	<div class="character-data broad-column flex v">
		<h3>Vitals</h3>
		<div class="property-container health flex h v-center">
			<button class="action general rounded" v-on:click="takeDamage()">
				<span>{{entity.hp}}</span>
				<span class="seperator">/</span>
				<span>{{entity.hp_max}}</span>
				<span class="fad fa-heartbeat rs-green rs-secondary-solid rs-secondary-white"></span>
			</button>
			<span class="property-label">
				<span>Health Points</span>
			</span>
		</div>
		<div class="property-container health flex h v-center" v-if="entity.hp_temp">
			<button class="action general rounded" v-on:click="takeDamage()">
				<span>{{entity.hp_temp}}</span>
				<span class="game-icon game-icon-bell-shield rs-light-blue"></span>
			</button>
			<span class="property-label">
				<span>Temporary Health Points</span>
			</span>
		</div>
		<h3>Defenses</h3>
		<div class="property-container defense flex h v-center">
			<button class="action general rounded" v-on:click="viewDefenses()">
				<span>{{entity.armor}}</span>
				<span class="fas fa-shield"></span>
			</button>
			<span class="property-label">
				<span>Armor Class (AC)</span>
			</span>
		</div>
		<div class="property-container defense flex h v-center" v-for="(amount, die) in entity.hit_dice">
			<span class="raw-data">
				<span>{{amount}} / {{entity.hit_dice_max[die]}}</span>
				<span class="fa-solid" :class="'fa-dice-' + die"></span>
			</span>
			<span class="property-label">
				<span>{{die}} Hit Die</span>
			</span>
		</div>
		<!--
		<div class="property-container defense flex h v-center" v-for="(amount, die) in entity.hit_dice">
			<button class="action general rounded" v-on:click="useDie(die)">
				<span>{{amount}} / {{entity.hit_dice_max[die]}}</span>
				<span class="icon fa-solid" :class="'fa-dice-' + die"></span>
			</button>
			<span class="property-label">
				<span>{{die}} Hit Dice</span>
			</span>
		</div>
		-->
		<h3>Skills</h3>
		<div class="property-container defense flex h v-center" v-on:click="viewLanguages()">
			<button class="action general rounded">
				<span>{{languages.length}}</span>
				<span class="fas fa-comment"></span>
			</button>
			<span class="property-label">
				<span>Languages Spoken</span>
			</span>
		</div>
		<div class="property-container proficiencies flex h v-center" v-on:click="viewListData(proficiencyDetails)">
			<button class="action general rounded">
				<span>{{totalProficiencies}}</span>
				<span class="fa-regular fa-screwdriver-wrench"></span>
			</button>
			<span class="property-label">
				<span>Proficiencies</span>
			</span>
		</div>
		<div class="property-container defense flex h v-center">
			<div class="raw-data">
				<span>{{entity.movement_ground}}</span>
				<span class="fa-solid fa-running"></span>
			</div>
			<span class="property-label">
				<span>Movement Speed</span>
				<span>({{entity.movement_ground/4}} Squares)</span>
			</span>
		</div>
		<div class="property-container defense flex h v-center" v-if="entity.movement_fly">
			<div class="raw-data">
				<span>{{entity.movement_fly}}</span>
				<span class="game-icon game-icon-liberty-wing"></span>
			</div>
			<span class="property-label">
				<span>Flying Speed</span>
				<span>({{entity.movement_fly/4}} Squares)</span>
			</span>
		</div>
		<div class="property-container defense flex h v-center" v-if="entity.movement_swim">
			<div class="raw-data">
				<span>{{entity.movement_swim}}</span>
				<span class="fa-solid fa-person-swimming"></span>
			</div>
			<span class="property-label">
				<span>Swimming Speed</span>
				<span>({{entity.movement_swim/4}} Squares)</span>
			</span>
		</div>
		<h3>Goods</h3>
		<div class="property-container defense flex h v-center">
			<button class="action general rounded" v-on:click="emitScrollNotice('inventory')">
				<span>{{formatNumber(entity.weight)}}</span>
				<span class="fa-solid fa-weight-scale"></span>
			</button>
			<span class="property-label">
				<span>Total Weight</span>
			</span>
		</div>
		<div class="property-container defense flex h v-center">
			<div class="raw-data" v-on:click="emitScrollNotice('inventory')">
				<span>{{bag_weight}}</span>
				<span class="seperator">/</span>
				<span>{{max_carry}}</span>
				<span class="fa-solid fa-backpack"></span>
			</div>
			<span class="property-label">
				<!-- <span class="icon" :class="getWeightScales()"></span> -->
				<span>Bag Weight</span>
			</span>
		</div>
		<div class="property-container defense flex h v-center">
			<button class="action general rounded" v-on:click="transferGold()">
				<span>{{entity.gold}}</span>
				<span v-if="entity.gold_max">
					<span class="seperator">/</span>
					<span>{{entity.gold_max}}</span>
				</span>
				<span class="fas fa-coins"></span>
			</button>
			<span class="property-label">
				<span>Gold</span>
			</span>
		</div>
		<h3>World</h3>
		<div class="property-container location flex h v-center">
			<button class="action general rounded" v-on:click="info(entity.location)">
				<span>{{location?location.name:"No Location"}}</span>
				<span class="fa-solid fa-location-pin"></span>
			</button>
			<span class="property-label">
				<span>Current Location</span>
			</span>
		</div>
		<div v-if="inside" class="property-container inside flex h v-center">
			<button class="action general rounded" v-on:click="info(inside)">
				<span>{{inside.name}}</span>
				<span :class="inside.icon"></span>
			</button>
			<span class="property-label">
				<span>Occupancy</span>
			</span>
		</div>
		<div class="property-container weather flex h v-center" v-if="weather">
			<button class="action general rounded" v-on:click="info(weather)">
				<span>{{weather.name}}</span>
				<span :class="weather.icon"></span>
			</button>
			<span class="property-label">
				<span>Weather</span>
			</span>
		</div>
		<div class="property-container date flex h v-center">
			<button class="action general rounded" v-on:click="openCalendar(universe.time)">
				<span>{{displayDate(universe.time, {})}}</span>
				<span class="fa-solid fa-calendar"></span>
			</button>
			<span class="property-label">
				<span>Date</span>
			</span>
		</div>
		<div class="property-container rest flex h">
			<button class="emphasis-stat" v-on:click="takeShortRest()" :title="totalHitDice + ' Hit Dice left'">
				<div class="stat-label">Rest</div>
				<div class="stat-value">
					<span class="fas fa-dice"></span>
					({{totalHitDice}})
				</div>
				<div class="stat-foot">Short</div>
			</button>
			<button class="emphasis-stat" v-on:click="takeLongRest()" :title="longRestNote">
				<div class="stat-label">Rest</div>
				<div class="stat-value">
					<span class="correct-2" :class="longRestIcon"></span>
				</div>
				<div class="stat-foot">Long</div>
			</button>
		</div>
		<h3>Panel Scrolling</h3>
		<div class="property-container rest flex h">
			<button class="action general rounded quick" v-if="widget.show_home" v-on:click="scrollHome()" title="Scroll all the way back to the left (Including any minions)">
				<span class="action-icon fa-solid fa-arrow-left-long-to-line"></span>
			</button>
			<button class="action general rounded quick" v-on:click="emitScrollNotice('nearby')" title="Scroll to list of near-by entites">
				<span class="action-icon fa-solid fa-street-view"></span>
			</button>
			<button class="action general rounded quick" v-on:click="emitScrollNotice('stats')" title="Scroll to start of character stats">
				<span class="action-icon fa-solid fa-table-columns"></span>
			</button>
			<button class="action general rounded quick" v-on:click="emitScrollNotice('inventory')" title="Scroll to Inventory">
				<span class="action-icon fa-solid fa-backpack"></span>
			</button>
			<button class="action general rounded quick" v-on:click="emitScrollNotice('spells')" title="Scroll to Spellbook">
				<span class="action-icon fad fa-hand-holding-magic rs-lightpurple rs-secondary-solid rs-secondary-white"></span>
			</button>
			<button class="action general rounded quick" v-on:click="emitScrollNotice('knowledge')" title="Scroll to knowledge">
				<span class="action-icon fa-solid fa-brain"></span>
			</button>
			<!--
			<button class="emphasis-stat" v-if="widget.show_home" v-on:click="scrollHome()">
				<div class="stat-label">Scroll</div>
				<div class="stat-value">
					<span class="fa-solid fa-arrow-left-long-to-line"></span>
				</div>
				<div class="stat-foot">Home</div>
			</button>
			<button class="emphasis-stat" v-on:click="emitScrollNotice('stats')">
				<div class="stat-label">Scroll</div>
				<div class="stat-value">
					<span class="fa-solid fa-table-columns"></span>
				</div>
				<div class="stat-foot">Stats</div>
			</button>
			-->
		</div>
	</div>
	<div class="character-stats broad-column flex v">
		<button class="emphasis-stat" v-for="stat in characterStats" v-on:click="performSkillCheck(stat.skill)">
			<div class="stat-label">{{stat.name}}</div>
			<div class="stat-value">{{entity[stat.value_field]}}</div>
			<div class="stat-foot">{{getModifier(stat.modifier_field)}}</div>
		</button>
		<button class="emphasis-stat" v-on:click="emitScrollNotice('spells')">
			<div class="stat-label">Spell DC</div>
			<div class="stat-value">{{entity.spell_dc}}</div>
			<div class="stat-foot">
				<span class="fad fa-hand-holding-magic rs-lightpurple rs-secondary-solid rs-secondary-white"></span>
			</div>
		</button>
		<button class="emphasis-stat" v-on:click="performSkillCheck('skill:raw:proficiency')">
			<div class="stat-label">Proficiency</div>
			<div class="stat-value">{{entity.proficiency_rating}}</div>
			<!-- <div class="stat-foot">{{entity.proficiency_rating}}</div> -->
		</button>
	</div>
</div>
