.dnd-page.dnd-entities {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: 100%;
	
	.column {
		position: relative;
		height: 100%;
		min-width: 420px;
		max-width: 420px;
		overflow-x: hidden;
		overflow-y: auto;
		
		.column-background {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			z-index: 1;
			
			background-repeat: no-repeat;
			background-size: cover;
		}
		
		.column-content {
			display: flex;
			position: relative;
			flex-direction: column;
			z-index: 5;
			height: 100%;
			min-width: 400px;
			max-width: 420px;
			padding-right: 5px;
		}

		.nearby-entity {
			overflow: hidden;
			margin-bottom: 5px;
			flex-shrink: 0;
		}
	}

	.active-ctrl {
		box-shadow: 0px 0px 7px @rsOrange;
		border-color: @rsOrange !important;
	}

	.control-column {
		display: flex;
		flex-direction: column;
		overflow: visible;
		z-index: 10;
		
		button {
			margin: 5px;
			z-index: 3;
		}

		.z9 {
			z-index: 9;
		}
	}
	
	button.create {
		font-size: 20px;
		width: 300px;
		height: 60px;
		margin: 7px auto;
	}

	.sticky {
		position: sticky;
		top: 0px;

		&.left {
			left: 0px;
		}
	}

	.player-entity.nearby .character-overview {

		& > .widgets.container {
			border: 1px solid transparent;
			transition: border-color .5s;
		}

		&.self > .widgets.container {
			border-color: @rsLightBlue;
			box-shadow: 0px 0px 10px inset @rsLightBlue !important;
		}

		&.combat_turn > .widgets.container {
			border-color: @rsOrange !important;
			box-shadow: 0px 0px 10px inset @rsOrange !important;
		}

		&.npc .entity-heading button.property {
			border-left: 7px solid @rsBlue !important;
		}

		&.hostile .entity-heading button.property {
			color: @rsLightRed !important;
			border-left: 7px solid @rsRed !important;
		}
	}

	.note-area {
		position: absolute;
		top: 10px;
		right: 21px;
		transition: width .5s, height .5s, z-index .5s, right .5s;
		height: 0px;
		width: 0px;
		z-index: 1;

		&.swap {
			right: -315px;
		}

		&.open {
			z-index: 5;
			height: 600px;
			width: 350px;
			max-height: 90%;
			max-width: 90vw;
		}

		&.closed {
			// overflow: hidden;
		}

		.warning {
			background: @rsBlack;
			border-radius: 5px;
			overflow: hidden;
			white-space: nowrap;
			border: 1px solid @rsYellow;
			text-align: center;

			span {
				margin: 5px;
			}
		}

		textarea {
			position: relative;
			height: 100%;
			width: 100%;
			resize: none;
			z-index: 4;
			background: white;
			padding: 5px;

			&.buffering {
				background: transparent;
			}
		}

		.waiting {
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: 4;
			background: white;
			padding: 5px;
			border: 1px solid white;

			.indicator {
				position: absolute;
				right: 5px;
				bottom: 5px;
				z-index: 7;
				color: black;
			}
		}
	}
}
