.dnd-page.dnd-entities {
	display: flex;
	flex-direction: row;
	
	.column {
		display: flex;
		height: 100%;
		min-width: 400px;
	}
	
	button.create {
		font-size: 20px;
		width: 300px;
		height: 60px;
		margin: 7px auto;
	}
}
