<div class="rs-page dnd-page dnd-entities">
	<div class="column" v-if="!profile.lock_character">
		<div class="column-content" v-if="!main || main.state === 'deceased'">
			<button v-on:click="createPlayer()" class="general create">
				<span class="icon fas fa-user-plus"></span>
				<span class="text">Create Character</span>
			</button>
		</div>
		<div class="player-entity column" v-if="main && main.state !== 'deceased'">
			<div class="column-content">
				<dnd-entity-overview :entity="main" :universe="universe" :player="player" :configuration="configuration" :profile="profile" :storage-key="'_dndeoc:' + main.id" />
			</div>
		</div>
	</div>
	<div class="control-column sticky left">
		<button class="general rounded quick action z9" v-on:click="toggleNotes()" v-on:click.right.stop.prevent="toggleNotes(true)" title="Toggle the note taking pane. Right click to switch orientations.">
			<span :class="storage.notes?storage.notes.icon || 'fas fa-sticky-note':'fas fa-sticky-note'"></span>
		</button>
		<div class="note-area" :class="storage.notes?storage.notes.area:''">
			<div class="warning" v-if="!page">
				<span class="fas fa-exclamation-triangle rs-yellow"></span>
				<span>No Page Found</span>
			</div>
			<div v-if="page" class="waiting">
				<span class="indicator fas fa-spinner fa-pulse"></span>
			</div>
			<textarea v-if="page" id="player-note-page" v-delayed:300="notes" v-on:drop.stop.prevent="processDrop()" v-on:dragover.prevent="">
			</textarea>
		</div>
		<button class="general rounded quick action" v-for="control in controls" v-on:click="fireControl(control)" :class="getControlClass(control)" :title="control.title">
			<span :class="control.icon"></span>
		</button>
	</div>
	<div class="player-entity nearby column">
		<div class="column-content">
			<dnd-entity-overview v-for="entity in nearby" class="nearby-entity" :entity="entity" :universe="universe" :player="player" :configuration="configuration" :profile="profile" :forced-dashboard="getNearbyDashboard(entity)" :class="getNearbyClasses(entity)" :storage-key="'_dndeoc:' + entity.id" :key="entity.id" />
		</div>
	</div>
	<div class="player-entity column" v-for="entity in entities">
		<div class="column-content">
			<!-- TODO: Convert to use a Dashboard or Profile that can layout Columns with any number of entities and widgets where dnd-entity-overview is merely a widget -->
			<dnd-entity-overview :entity="entity" :universe="universe" :player="player" :configuration="configuration" :profile="profile" :storage-key="'_dndeoc:' + entity.id" :key="entity.id" />
		</div>
	</div>
</div>
