<div class="rs-page dnd-page dnd-entities">
	<div v-if="!player.attribute.playing_as" class="column">
		<div class="column-content">
			<button v-on:click="createPlayer()" class="general create">
				<span class="icon fas fa-user-plus"></span>
				<span class="text">Create Character</span>
			</button>
		</div>
	</div>
	<div class="player-entity column" v-for="entity in entities">
		<div class="column-content">
			<dnd-entity-overview :entity="entity" :universe="universe" :player="player" :configuration="configuration" :profile="storage.profile" :storage-key="'_dndeoc:' + entity.id" :key="entity.id" />
		</div>
	</div>
</div>
