.dnd-component.entity-skills {

	.skills {
		overflow: hidden;
	}

	.rolled {
		
	}

	.skill-icon {
		display: inline-block;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
	}

	.skill-name {
		overflow: hidden;
	}

	.skill-proficient {
		display: none;
		width: 9px;

		&::before {
			margin-left: -3px;
		}
	}

	.proficient {
		.skill-proficient {
			display: block;
		}
	}

	.seperator.fa-dice {
		color: @rsOrange;
	}

	.filter {
		margin: 0px 5px;
		
		input {
			padding: 0px 10px;
			border-radius: 5px;
		}
	}
}
