<div class="rs-component dnd-component entity-info flex v">
	<div class="property-container health" v-if="!widget.attribute.hide_health">
		<button class="property" v-on:click="takeDamage()">
			<span class="icon fas fa-heartbeat"></span>
			<span>
				<span>{{entity.hp}}</span>
				<span class="seperator">/</span>
				<span>{{entity.hp_max}}</span>
			</span>
		</button>
	</div>
	<div class="property-container armor" v-if="!widget.attribute.hide_armor">
		<div class="property">
			<span class="icon fas fa-shield"></span>
			<span>{{entity.armor}}</span>
		</div>
	</div>
	<div class="property-container gold" v-if="!widget.attribute.hide_gold">
		<button class="property" v-on:click="transferGold()">
			<span class="icon fas fa-coins"></span>
			<span>
				<span>{{entity.gold}}</span>
				<span v-if="entity.gold_max">
					<span class="seperator">/</span>
					<span>{{entity.gold_max}}</span>
				</span>
			</span>
		</button>
	</div>
	<div class="property-container hitdice" v-if="!widget.attribute.hide_hit_dice">
		<!-- <button class="property" v-on:click="focusAction(shortRest)" :class="getActionClass(shortRest)"> -->
		<button class="property" v-on:click="takeShortRest()" :class="getActionClass(shortRest)">
			<span class="icon fas fa-dice"></span>
			<span>{{totalHitDice}}</span>
		</button>
		<button class="property" v-on:click="takeLongRest()" :class="getActionClass(longRest)">
			<span :class="longRestIcon"></span>
		</button>
	</div>
</div>