
<div class="rs-component rs-field" :class="field.type + ' property-' + field.id" v-if="isVisible()" v-filedrop="useFileData">
	<label :for="fid" v-on:click.right.stop.prevent="fieldInfo(field.id)">
		<span>{{field.name}}</span>
	</label>
	<span v-if="field.error">
		<h3>
			<span class="fas fa-exclamation-triangle"></span>
			<span>Error</span>
		</h3>
		<p>
			{{field.error | JSON}}
		</p>
	</span>

	<span v-if="field.type === 'label'">
		<!-- Do Nothing Here -->
	</span>

	<!-- <select :id="fid" v-if="availableReferences.length && field.type === 'string'" v-model="root[field.id]" v-on:change.stop="emitChanged()" v-on:blur="blurring()"> -->
	<select :id="fid" v-if="field.inheritable !== undefined && field.inheritable !== null && field.inheritable.length !== 0 && field.type === 'string'" v-model="root[field.id]" v-on:change.stop="emitChanged()" v-on:blur="blurring()">
		<option v-if="root[field.id] === 'undefined' && !field.persistUnset" :value="root[field.id]">{{field.unset}}</option>
		<option v-if="field.persistUnset" value=undefined>{{field.unset || "Select..."}}</option>

		<option v-for="option in availableReferences" :value="option.id" :title="option.id">{{option.name}}</option>
		<!--
		<option v-if="field.raw" v-for="option in field.options" :value="option">{{option}}</option>
		<option v-if="!field.raw && !field.optionValue && !field.optionLabel" v-for="option in field.options" :value="option.value" :title="option[field.optionDescription] || option.description || ''">{{option.label}}</option>
		<option v-if="!field.raw && field.optionValue && field.optionLabel" v-for="option in field.options" :value="option[field.optionValue]" :title="option[field.optionDescription] || option.description || ''">{{option[field.optionLabel]}}</option>
		-->
	</select>

	<span v-if="field.type === 'select' && (!field.options || !field.options.length)">
		<span class="fas fa-spinner fa-pulse"></span>
		<span>Loading...</span>
	</span>

	<select :id="fid" v-if="field.options && field.options.length && field.type === 'select'" v-model="root[field.id]" v-on:change.stop="emitChanged()" v-on:blur="blurring()">
		<option v-if="root[field.id] === 'undefined' && !field.persistUnset" :value="root[field.id]">{{field.unset}}</option>
		<option v-if="field.persistUnset" value=undefined>{{field.unset || "Select..."}}</option>
		<option v-for="option in field.options" :value="option.id || option" :title="option.id || option">{{option.name || option}}</option>
	</select>

	<button :id="fid" v-if="field.type === 'boolean'" v-on:click="set(!root[field.id])" class="flat">
		<span class="far" :class="root[field.id]?'fa-check-square':(root[field.id] === undefined || root[field.id] === null?'fa-square':'fa-times-square')"></span>
	</button>

	<!-- TODO: Add Game Calendar handler for "gametime" typed fields -->
	<input :id="fid" :type="field.type" v-if="field.type === 'number' || field.type === 'integer' || field.type === 'gametime'" v-model.number="root[field.id]" :min="field.attribute.min" :max="field.attribute.max" :placeholder="field.attribute.placeholder" v-on:input.stop="emitChanged()" v-on:focus="focusing()" v-on:blur="blurring()" autocomplete="chrome-off" />
	<input :id="fid" type="text" v-if="field.type === 'rawnumber'" v-model.number="root[field.id]" :min="field.attribute.min" :max="field.attribute.max" :placeholder="field.attribute.placeholder" v-on:input.stop="emitChanged()" v-on:focus="focusing()" v-on:blur="blurring()" autocomplete="chrome-off" />
	<input :id="fid" :type="field.type" v-if="field.follow_type" v-model.lazy="root[field.id]" :min="field.attribute.min" :max="field.attribute.max" :placeholder="field.attribute.placeholder" v-on:input.stop="emitChanged()" v-on:focus="focusing()" v-on:blur="blurring()" autocomplete="chrome-off" />

	<input :id="fid" type="password" v-if="field.type === 'password' || field.attribute.encrypted || field.attribute.password" v-model="buffer" :placeholder="field.attribute.placeholder" v-on:input.stop="bufferChanged()" v-on:focus="focusing()" v-on:blur="blurring()" autocomplete="chrome-off" />
	<input :id="fid" type="text" v-if="(field.inheritable === undefined || field.inheritable === null || field.inheritable.length === 0) && !field.attribute.long_text && (!field.attribute.input || field.attribute.input === 'text') && (field.type === 'string' || field.type === 'icon' || field.type === 'dice' || field.type === 'calculated' || field.type === 'formula') && !field.attribute.file_data && !field.attribute.encrypted && !field.attribute.password" v-model="buffer" :placeholder="field.attribute.placeholder" v-on:input.stop="bufferChanged()" v-on:focus="focusing()" v-on:blur="blurring()" autocomplete="chrome-off" />

	<input :id="fid" type="datetime-local" v-if="field.type === 'date'" v-model="buffer" v-on:change.stop="processDate()" v-on:focus="focusing()" v-on:blur="blurring()" autocomplete="chrome-off" />
	<span class="indicator" v-if="field.type === 'file' || field.attribute.file_data">
		<span class="" v-if="root[field.id]">
			<span class="rs-light-green">[</span>
			<span>Present</span>
			<span class="rs-light-green">]</span>
		</span>
		<span class="" v-if="!root[field.id]">
			<span class="rs-light-red">[</span>
			<span>Empty</span>
			<span class="rs-light-red">]</span>
		</span>
	</span>

	<span v-if="field.suffix" class="suffix">{{field.suffix}}</span>

	<span v-if="field.computed" class="computed" :class="field.computed.class?field.computed.class():{}">{{field.computed.method()}}</span>
	<span v-if="field.computed && field.computed.suffix" class="computed-suffix">{{field.computed.suffix}}</span>
	<button v-if="field.info" class="info fas fa-info-circle" v-on:click.stop="field.info(root[field.id])"></button>
	<button v-if="field.validation" class="validation fas" :class="{'fa-check good': checkField(), 'fa-exclamation-triangle violation': !checkField()}" v-on:click.stop="field.validation.feedback(field, root[field.id], checkField())"></button>

	<slot name="info">
	</slot>
	<span v-if="bufferLoading" class="far fa-pulse fa-spinner"></span>

	<table :id="fid" v-if="field.type === 'grid-select'" class="grid-select">
		<tr>
			<td></td>
			<td class="col label" v-for="col in field.columns">
				{{col.label}}
			</td>
		</tr>
		<tr v-for="row in field.rows">
			<td class="row label">{{row.label}}</td>
			<td v-for="col in field.columns">
				<!-- button class="far option" :class="{'fa-square': row.value !== _row || col.value !== _col, 'fa-square-check': row.value === _row && col.value === _col}" v-on:click.stop="set((field.compose || compose)(col.value, row.value))"></button -->
				<button class="far option" :class="{'fa-square': !tracking[row.value][col.value], 'fa-check-square': tracking[row.value][col.value]}" v-on:click.stop="set(compose(row.value, col.value))"></button>
			</td>
		</tr>
	</table>

	<div v-if="field.type === 'file' || field.attribute.file_data" class="file-select">
		<input :id="fid + ':file'" type="file" :accept="field.accept || '*'" v-on:change="selectFile($event)" v-on:focus="focusing()" v-on:blur="blurring()" />
	</div>

	<!--
	<div v-if="field.type === 'markdown' || field.type === 'method' || field.type === 'function' || field.attribute.long_text" class="textarea">
		<textarea :id="fid" v-model="buffer" v-tab :placeholder="field.attribute.placeholder" v-on:input="bufferChanged()" v-on:focus="focusing()" v-on:blur="blurring()">
		</textarea>
	</div>
	-->

	<div v-if="field.type === 'markdown' || field.attribute.long_text" class="textarea">
		<textarea :id="fid" v-model="buffer" v-tab :placeholder="field.attribute.placeholder" v-on:input="bufferChanged()" v-on:focus="focusing()" v-on:blur="blurring()">
		</textarea>
	</div>

	<div v-if="field.type === 'method' || field.type === 'function'" class="codearea">
		<rs-code ref="code" :id="fid" v-model="root[field.id]" v-on:focus="focusing()"></rs-code>
	</div>

	<div v-if="field.type === 'array'" class="multireference">
		<div class="referenced" v-for="(reference, $index) in root[field.id]" :data-id="reference">
			<button class="remove fas fa-times-square" v-on:click="dismissReference($index)"></button>
			<span class="reference-display">{{getReferenceName(reference)}}</span>
			<select v-model="shiftIndex[$index]" v-on:change="moveIndex($index, shiftIndex[$index])">
				<option v-for="i in (root[field.id].length)" :value="i-1">{{i-1}}</option>
			</select>
			<button class="info fas fa-info-circle" v-if="field.inheritable && !field.attribute.no_link" v-on:click="openReference(reference)"></button>
			<button class="info fas fa-circle-t" v-if="canClone(reference)" v-on:click="cloneHere(reference)"></button>
		</div>
		<div class="referenced">
			<select v-model="reference_value" v-if="availableReferences.length" v-on:change="addReference(reference_value)">
				<option value="">Select To Add</option>
				<option v-for="option in availableReferences" :id="option.id" :value="option.id" :title="option.id">{{getOptionName(option)}}</option>
			</select>
			<div v-if="!availableReferences.length">
				<input v-model="reference_value" v-on:keydown.enter="addReference(reference_value)" />
			</div>
			<!--div class="rs-autocomplete" v-if="field.attribute.autocomplete">
				<div class="filter">
					<input type="text" v-model="reference_value" v-on:keydown.enter="addReference(reference_value, activeCompletion)" v-on:keyup="deriveCompletions(reference_value, $event)"/>
				</div>
				<div class="completions" v-if="completions.length">
					<button class="completion" v-for="(completion,$cindex) in completions" :class="activeCompletion === $cindex?'active':''" v-on:click="selectCompletion(completion)" :title="completion.id">
						{{completion[field.optionLabel]}}
					</button>
				</div>
			</div-->
		</div>
	</div>

	<div v-if="field.type === 'object' || field.type === 'object:dice'" class="multireference">
		<div class="referenced" v-for="(reference, $index) in root[field.id]">
			<button class="remove fas fa-times-square" v-on:click="dismissObjectMap($index)"></button>
			<span class="reference-display">{{getObjectKey($index)}}</span>
			<span>:</span>
			<span class="reference-display">{{getObjectValue(reference)}}</span>
		</div>
		<div class="referenced">
			<select v-model="reference_key" v-if="keyside" v-on:change="addObjectReference(reference_key, reference_value)">
				<option value="">Select To Add</option>
				<option v-for="option in keyside" :id="option.id" :value="option.id" :title="option.id">{{option.template?'(T) ' + option.name:option.name}}</option>
			</select>
			<div v-if="!keyside">
				<input v-model="reference_key" v-on:keydown.enter="addObjectReference(reference_key, reference_value)" autocomplete="chrome-off" />
			</div>
			<span>:</span>
			<div v-if="!valueside">
				<input v-model="reference_value" v-on:keydown.enter="addObjectReference(reference_key, reference_value)" autocomplete="chrome-off" />
			</div>
			<select v-model="reference_value" v-if="valueside" v-on:change="addObjectReference(reference_key, reference_value)">
				<option value="">Select To Add</option>
				<option v-for="option in valueside" :id="option.id" :value="option.id" :title="option.id">{{option.template?'(T) ' + option.name:option.name}}</option>
			</select>
		</div>
	</div>

	<!--div v-if="field.type === 'multireference' && field.raw" class="multireference">
		<div class="referenced" v-for="(reference, $index) in root[field.id]">
			<button class="remove fas fa-times-square" v-on:click="dismissReference($index)"></button>
			<span class="reference-display">{{reference}}</span>
			<button class="info fas fa-edit" v-on:click="editReference($index, reference)"></button>
		</div>
		<div class="referenced">
			<input type="number" id="editreference" v-model.number="reference_value" v-if="field.numeric_values" v-on:keydown.enter="addReference(reference_value)" />
			<input type="text" id="editreference" v-model="reference_value" v-if="!field.numeric_values" v-on:keydown.enter="addReference(reference_value)" />
		</div>
	</div>
	<div v-if="field.type === 'multireference' && !field.raw && !field.source_index">
		<span class="fas fa-exclamation-triangle"></span>
		<span>No Source Index</span>
	</div-->

	<div class="error" v-if="field.error">
		<span>Error:</span>
		<p>{{field.error.message || field.error.text || field.error}}</p>
	</div>
</div>
