<div class="rs-component dnd-component dnd-display-roll flex h" :class="autoRollBinding + classes">
	<input class="roll-result" :placeholder="roll.formula" v-model.number="roll.computed" v-on:focus="focused(true)" v-on:blur="focused(false)" />
	<button class="general rounded quick action" v-if="roll.formula" :title="roll.formula" v-on:click="rollResult()">
		<span class="action-icon fas fa-dice"></span>
	</button>
	<button class="general rounded quick action advantage" v-if="roll.formula && skill_check" title="Roll with Advantage" v-on:click="advantage()">
		<span class="action-icon fas fa-chevrons-up"></span>
	</button>
	<button class="general rounded quick action disadvantage" v-if="roll.formula && skill_check" title="Roll with Disadvantage" v-on:click="disadvantage()">
		<span class="action-icon fas fa-chevrons-down"></span>
	</button>
	<div class="rolled flex h" v-if="roll.dice_rolls">
		<div class="results flex h" v-for="(results, die) in roll.dice_rolls">
			<button class="result rounded general action" v-for="(result, $index) in results" v-on:click="roll.reroll(die, $index)" v-on:click.right.stop.prevent="roll.remove(die, $index)">
				<span class="" :class="die === 'd100'?'fad fa-dice-d10':'fas fa-dice-' + die"></span>
				<span class="die-roll">{{result}}</span>
				<span class="die-roll reroll" v-if="roll.rerolled[die] && roll.rerolled[die][$index]">({{roll.rerolled[die][$index]}})</span>
			</button>
		</div>
	</div>
</div>
