.dnd-widget {
	background-color: transparent;
	z-index: 2;

	.property-container {
	}

	.property {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap;
		padding: 4px 6px;
		border-radius: 4px;
		background-color: @rsBlack;
		margin: 7px 5px;
		font-size: 16px;
	}

	button.property {
		border: 0px;
		color: @rsWhite;
	}

	.seperator {
		margin: 0px 3px;
	}

	.icon {
		display: inline-block;
		margin: 0px 5px 0px 0px;
		width: 20px;
		text-align: center;
	}

	.action {
		margin: 0px 0px 0px 5px;
	}

	&.cell4 {
		width: 100%;
		flex-basis: 100%;
		flex-shrink: 0;
		flex-grow: 0;
	}
	&.cell3 {
		width: 75%;
		flex-basis: 75%;
		flex-shrink: 0;
		flex-grow: 0;
	}
	&.cell2 {
		width: 50%;
		flex-basis: 50%;
		flex-shrink: 0;
		flex-grow: 0;
	}
	&.cell1 {
		width: 25%;
		flex-basis: 25%;
		flex-shrink: 0;
		flex-grow: 0;
	}

	&.left {
		align-items: flex-start;
	}
	&.centered {
		align-items: center;
	}
	&.right {
		align-items: flex-end;

		.property {
			flex-direction: row-reverse;
		}

		.icon {
			display: inline-block;
			margin: 0px 0px 0px 5px;
			// text-align: left;
		}
	
		.action {
			margin: 0px 5px 0px 0px;
		}
	}
}
