.dnd-component.distribute-gold {
	padding: 7px 14px;

	input {
		padding: 5px;
		font-size: 20px;
		margin: 5px;
	}

	.style-npc {
		color: @rsLightBlue;
	}

	.style-hostile {
		color: @rsLightRed;
	}

	.style-building,
	.style-shop {
		color: @rsLightGreen;
	}

	.target {
		* {
			margin: 4px;
			font-size: 21px;
		}
	}
}
