<div class="rs-component chat-window">
	<table>
		<tr>
			<td>
				<button class="rounded general action group" v-on:click="selectGroup('all')" :class="'all' === storage.active?'active':''">
					All
				</button>
				<button class="rounded general action group" v-on:click="selectGroup('master')" :class="'master' === storage.active?'active':''">
					Master
				</button>
				<button class="rounded general action group" v-on:click="selectGroup('locale')" :class="'locale' === storage.active?'active':''">
					Locale
				</button>
				<button class="rounded general action group" v-for="group in groups" v-on:click="selectGroup(group)" :class="group === storage.active?'active':''">
					{{getGroupName(group)}}
				</button>
			</td>
			<td>
				<div class="flex v groups">
					<div class="messages grow-1">
						<chat-stream :universe="universe" :player="player" :profile="profile" :stream="stream"></chat-stream>
					</div>
					<div class="send flex h centered">
						<div class="message text flex v grow-5">
							<textarea v-model="storage.message" v-on:keypress.enter.stop.prevent="send($event)"></textarea>
						</div>
						<button class="rounded general quick action send" v-on:click="send()">
							<span class="fas fa-comment-lines"></span>
						</button>
					</div>
				</div>
			</td>
		</tr>
	</table>
	<div class="flex h container">
			
		</div>
		<div class="flex v stream grow-1">
		</div>
	</div>
</div>
