.rs-component.chat-window {

	.messages {
		max-height: 50vh;
		overflow: auto;
		max-width: 600px;
	}

	button.group {
		padding: 6px 11px;
		font-size: 18px;
		margin: 5px;
		text-align: left;
	}
	
	button.active {
		color: @rsOrange;
	}
}
