<div class="rs-page dnd-page dnd-map">
	<div class="general-warning" v-if="!location">
		<span class="fas fa-exclamation-triangle"></span>
		<span>Location Not Found:</span>
		<span>{{$route.params.id || 'world'}}</span>
	</div>
	<div class="general-warning" v-else-if="location.disabled">
		<span class="fas fa-exclamation-triangle"></span>
		<span v-if="!player.gm">Location Not Found:</span>
		<span v-if="player.gm">This location is disabled:</span>
		<span>{{$route.params.id || 'world'}}</span>
	</div>
	<div class="general-warning" v-else-if="location.is_preview">
		<span class="fas fa-exclamation-triangle"></span>
		<span v-if="!player.gm">Location Not Found:</span>
		<span v-if="player.gm">This location is a preview object:</span>
		<span>{{$route.params.id || 'world'}}</span>
	</div>
	<!-- <rs-viewer-v1 class="map" v-else :universe="universe" :player="player" :profile="profile" :configuration="configuration" :location="location" storage-key="rsmap:storage"></rs-viewer-v1> -->
	<rs-viewer-v1 class="map" v-else :universe="universe" :player="player" :profile="profile" :configuration="configuration" :location="location" :storage-container="storage"></rs-viewer-v1>
</div>
