<div class="rs-component dnd-component entity-effects">
	<div class="divider" v-if="effects.hidden.length || effects.shown.length"></div>
	<div class="effects flex h wrap">
		<button class="rounded general quick action" v-if="effects.hidden.length" v-on:click="toggleHidden()" v-on:click.right.prevent.stop="toggleHidden()" title="Toggle hidden effects. Toggle hide by right clicking.">
			<span class="fas rot270" :class="storage.show_hidden?'fa-layer-minus':'fa-layer-plus'"></span>
		</button>
		<div class="feats flex h wrap hidden-list" v-if="storage && storage.show_hidden">
			<button class="feat rounded general quick action hidden-shadow" v-for="effect in effects.hidden" v-on:click="open(effect)" v-on:click.right.prevent.stop="toggleHide(effect)" v-linkable="effect.id" :title="effect.name">
				<span class="action-icon" :class="effectClasses(effect)"></span>
				<span class="action-count" v-if="showCharges(effect)">{{effect.charges || 0}}</span>
			</button>
		</div>
		<button class="effect rounded general quick action" v-for="effect in effects.shown" v-on:click="open(effect)" v-on:click.right.prevent.stop="toggleHide(effect)" v-linkable="effect.id" :title="effect.name">
			<span class="action-icon" :class="effectClasses(effect)"></span>
			<span class="action-count" v-if="showCharges(effect)">{{effect.charges || 0}}</span>
		</button>
	</div>
</div>
