.dnd-component {
	
	.imagery-boundry {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	
	.imagery-container {
		position: sticky;
		width: 100%;
		top: 0px;
	}

	.imagery {
		position: absolute;
		z-index: 1;
	}
}
