.dnd-component,
.dnd-page {
}

.general-notification {
	border: 1px solid @rsLightGreen;
	box-shadow: 0px 0px 7px @rsLightGreen;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

.general-notification-dark {
	border: 1px solid @rsDarkGreen;
	box-shadow: 0px 0px 7px @rsDarkGreen;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

.general-warning {
	border: 1px solid @rsLightYellow;
	box-shadow: 0px 0px 7px @rsLightYellow;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}
.general-warning-dark {
	border: 1px solid @rsDarkYellow;
	box-shadow: 0px 0px 7px @rsDarkYellow;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}
.general-error {
	border: 1px solid @rsLightRed;
	box-shadow: 0px 0px 7px @rsLightRed;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}
