/**
 * Weather effects container
 * Inspiration and a chunk of source credit:
 * https://codepen.io/Coderesting/pen/RwwLPZM
 * Which harkens to:
 * https://dribbble.com/shots/3298162-slomo-raindrops
 */

.weather-effects {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	overflow: hidden;
	z-index: -1;
	transition: box-shadow 2s;
}