<div class="system-component system-info rs-component" :class="open?'opened':'closed'">
	<div class="main-bar">
		<div class="titling" draggable="true" v-on:drag="processDrag(info)" v-on:click.right.stop.prevent="editNoun($event, info)">
			<span v-if="info && info.icon" class="icon" :class="info.icon"></span>
			<span class="text nowrap">{{info?info.nickname || info.name:"Information"}}</span>
		</div>
		<button class="control back" v-on:click="backOne()" v-if="count > 1">
			<span class="fas fa-step-backward"></span>
		</button>
		<button class="control close" v-on:click="closeInfo()" :tabindex="getTabIndex()">
			<span class="fas fa-times"></span>
		</button>
	</div>

	<component :is="view" v-if="info" v-on:click="processRequest($event)" v-on:close="closeInfo()" :info="info" :size="size" :universe="universe" :player="player" :configuration="configuration" :profile="profile"></component>
	<!-- rs-object-info v-if="viewing" v-on:click="processRequest($event)" v-on:close="closeInfo()" :record="viewing" :universe="universe" :user="user" :player="player" :target="target" :base="base" :options="options"></rs-object-info -->

	<div class="adjacent-information knowledge-matrix" v-if="relatedKnowledge.length">
		<h3>Related Knowledge</h3>
		<ul class="knowledge-related">
			<li class="knowledge" v-on:click="showInfo(knowledge.id)" v-for="knowledge in relatedKnowledge" :key="knowledge.id">
				<button class="flat action" :data-id="knowledge.id">
					<span class="fas fa-info-circle"></span>
				</button>
				<span>{{knowledge.name}}</span>
			</li>
		</ul>
	</div>

	<button class="adjacency-toggle general rounded" v-if="player.gm" v-on:click="scanObject()">
		<span class="fas fa-refresh fa-spin" v-if="scanning"></span>
		<span class="fas fa-refresh" v-if="!scanning"></span>
		<span>Scan for Contents</span>
	</button>
	<button class="adjacency-toggle general rounded" v-if="player.gm && contains && contains.entity && contains.entity.length" v-on:click="toggleEntities()">
		<span>Toggle Entity List: {{contains.entity.length}} Entities</span>
	</button>
	<div class="adjacent-information contained-entities" v-if="listEntities && player.gm && contains && contains.entity && contains.entity.length">
		<h3>Entities Here</h3>
		<ul class="knowledge-related">
			<li class="entity" v-on:click="showInfo(entity.id)" v-for="entity in contains.entity" :key="entity.id">
				<button class="flat action" :data-id="entity.id">
					<span class="fas fa-info-circle"></span>
				</button>
				<span :class="entity.icon"></span>
				<span>{{entity.name}}</span>
			</li>
		</ul>
	</div>
</div>
