<div class="rs-component dnd-component entity-equipment">
	<div class="divider" v-if="equipment.shown.length || equipment.hidden.length"></div>
	<div class="items flex h wrap">
		<button class="rounded general quick action" v-if="equipment.hidden.length" v-on:click="toggleHidden()" v-on:click.right.prevent.stop="toggleHidden()">
			<span class="fas rot270" :class="storage.show_hidden?'fa-layer-minus':'fa-layer-plus'"></span>
		</button>
		<div class="otems flex h wrap hidden-list" v-if="storage && storage.show_hidden">
			<button class="feat rounded general quick action hidden-shadow" v-for="item in equipment.hidden" v-on:click="open(item)" v-on:click.right.prevent.stop="toggleHide(item)" v-linkable="item.id">
				<span class="action-icon" :class="item.icon"></span>
				<span class="action-count" v-if="item.charges !== undefined && item.charges !== null">{{item.charges}}</span>
			</button>
		</div>
		<button class="item rounded general quick action" v-for="item in equipment.shown" v-on:click.left="use(item)" v-on:click.right.stop.prevent="toggleHide(item)" v-linkable="item.id">
			<span class="action-icon" :class="item.icon || 'fas fa-cube'"></span>
			<span class="action-count" v-if="item.charges !== undefined && item.charges !== null">{{item.charges}}</span>
		</button>
	</div>
</div>
