<div class="rs-page dnd-page dnd-knowledge">
	<div class="main-container flex v" v-if="entity">
		<div class="timeline control" :class="storage.hide_timeline?'pad-out':''">
			<button class="general rounded main action toggle ctrl" v-on:click="toggleTimeline()">
				<span class="fa-solid fa-timeline-arrow action-icon"></span>
			</button>
		</div>
		<rs-timeline v-if="!storage.hide_timeline" :universe="universe" :events="timeline.events" :active-tags="timeline.tags" :storage-container="storage"></rs-timeline>
		<div class="overview flex h">
			<div class="known-listing" v-lockto>
				<div class="known-listing-type flex v">
					<rs-input type="text" v-model="storage.filter_knowns" placeholder="Filter items..." v-on:input="renderKnowns()"></rs-input>
					<select v-model="storage.type_known" v-on:change="fillKnowns()">
						<option value="">Hide Knowns</option>
						<option :value="type.id" v-for="type in available_types">{{type.name}}</option>
					</select>
				</div>
				<div class="known-list flex v">
					<button class="known-item rounded general flat action" v-linkable="known.id" v-for="known in renderedKnowns" v-on:click="info(known)">
						<span class="">{{known.name}}</span>
					</button>
				</div>
			</div>
			<rs-table class="knowledge-table" :universe="universe" :source="knowledge" storage-key="dnd:knowledge" :selections="selections" label="Knowledge" :headings="headings" :additional-headers="additionalHeaders" :actions="actions" :formatter="formatter" />
		</div>
	</div>
	<div class="general-warning" v-else>
		<span class="rs-lightyellow fas fa-exclamation-triangle"></span>
		<span>No Character Found</span>
	</div>
</div>
