.dnd-page.dnd-knowledge {


	.rs-table {
		.name {
			text-align: left;
		}

		.table-record.known_by {
			max-width: 200px;
			overflow: hidden;
		}
	}

	.known-listing-type {
		select {
			margin: 2px 0px;
		}
	}

	.overview {
		position: relative;
		
		.known-listing {
			padding: 2px 2px 2px 0px;
		}

		.known-list {
			overflow: auto;
			max-height: 500px;
			max-width: 200px;
		}

		.known-item {
			margin-top: 5px;
			overflow: visible;
			padding: 3px;
		}
	}
}
