.rs-component {
	
	.interactability {
		min-width: 30px;
		min-height: 30px;
		font-size: 24px;
		line-height: 30px;
	}
	
	.visibility {
		padding: 4px;
	}
}

.rs-page {
	
	button.general {
		background-color: black;
		color: white;
		border: 1px solid gray;
		// transition: background-color .5s, color .5s;
		
		&:hover {
			background-color: white;
			color: black;
		}
		
		&:active {
			border-color: blue;
		}
	}
	
	button.rounded {
		border-radius: 5px;
	}
	
	button.circular {
		border-radius: 100px;
	}
		
	button.cancel,
	button.abort,
	button.close {
		background-color: @rsDarkRed;
		color: @rsWhite;
		border: 1px solid @rsLightRed;
		// transition: background-color .5s, color .5s;
		
		&:hover {
			background-color: @rsWhite;
			color: @rsDarkRed;
		}
		
		&:active {
			border-color: @rsWhite;
		}
	}
		
	button.accept,
	button.continue,
	button.okay {
		background-color: @rsDarkGreen;
		color: @rsWhite;
		border: 1px solid @rsLightGreen;
		// transition: background-color .5s, color .5s;
		
		&:hover {
			background-color: @rsWhite;
			color: @rsDarkGreen;
		}
		
		&:active {
			border-color: @rsWhite;
		}
	}
	
	button.quick.action {
		width: 34px;
		height: 34px;
		line-height: 32px;
		border-width: 1px;
		padding: 0px !important;
		flex-shrink: 0;
		flex-grow: 0;
		
		span {
			line-height: 32px;
			font-size: 20px;
		}
		
		&:disabled {
			// color: transparent;
			cursor: not-allowed;
			color: @rsLightRed;
			border-color: @rsLightRed;
		}
	}
	
	button.action {
		position: relative;
		text-align: center;
		overflow: hidden;
		
		span.action-icon {
			z-index: 2;
		}
		
		span.action-count {
			position: absolute;
			display: block;
			bottom: 0px;
			padding: 1px;
			z-index: 5;
			right: 1px;
			line-height: 12px;
			font-size: 12px;
			text-align: center;
			border-radius: 5px;
			background: inherit;
			color: inherit;
			max-width: 50%;
			max-height: 12px;
		}
		
		span.action-status {
			position: absolute;
			display: block;
			bottom: 0px;
			padding: 1px;
			z-index: 5;
			left: 1px;
			line-height: 12px;
			font-size: 12px;
			text-align: center;
			border-radius: 5px;
			background: inherit;
			color: inherit;
			max-width: 50%;
			max-height: 12px;
		}
		
		span.action-indicator {
			position: absolute;
			display: block;
			top: 0px;
			padding: 1px;
			z-index: 5;
			right: 1px;
			line-height: 12px;
			font-size: 12px;
			text-align: center;
			border-radius: 5px;
			background: inherit;
			color: inherit;
			max-width: 50%;
			max-height: 12px;
		}

		span.action-label {
			position: absolute;
			display: block;
			top: 0px;
			padding: 1px;
			z-index: 5;
			left: 1px;
			line-height: 12px;
			font-size: 12px;
			text-align: center;
			border-radius: 5px;
			background: inherit;
			color: inherit;
			max-width: 50%;
			max-height: 12px;
		}
	}

	button.primary {
		font-size: 20px;
		padding: 3px 10px;
		margin: 3px;
	}

	button.choice {
		position: relative;
		min-width: 100px;
		min-height: 80px;
		padding: 0px;
		margin: 20px;
		border-radius: 5px;

		.choice-icon {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			align-content: center;
			width: ~"calc(100% - 10px)";
			min-height: 50px;
			padding: 5px;
			font-size: 48px;
		}

		.choice-text {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			align-content: center;
			width: ~"calc(100% - 10px)";
			padding: 5px;
			min-height: 2em;
			font-size: 16px;
		}
	}
	
	button.main.action {
		width: 48px;
		height: 48px;
		line-height: 48px;
		border-width: 1px;
		padding: 0px !important;
		
		span {
			line-height: 46px;
			font-size: 30px;
		}
	}
	
	button.pronounced.action {
		width: 48px;
		height: 48px;
		line-height: 48px;
		border-width: 2px;
		padding: 0px !important;
		
		span {
			line-height: 44px;
			font-size: 30px;
		}
	}
	
	/* Deprecated */
	button.quick-action {
		width: 34px;
		height: 34px;
		text-align: center;
		line-height: 32px;
		border-width: 1px;
		padding: 0px !important;
		
		span {
			line-height: 32px;
		}
	}
}
