.rs-component {
	
	.interactability {
		min-width: 30px;
		min-height: 30px;
		font-size: 24px;
		line-height: 30px;
	}
	
	.visibility {
		padding: 4px;
	}
}

.rs-page {
	
	button.general {
		background-color: black;
		color: white;
		border: 1px solid gray;
		transition: background-color .5s, color .5s;
		
		&:hover {
			background-color: white;
			color: black;
		}
		
		&:active {
			border-color: blue;
		}
	}
	
	button.quick-action {
		width: 34px;
		height: 34px;
		text-align: center;
		line-height: 32px;
		border-width: 1px;
		padding: 0px !important;
		
		span {
			line-height: 32px;
		}
	}
}
