.rs-component {
	.fields {
		.full {
			display: block;
			width: 100%;
		}
		
		.mb8 {
			margin-bottom: 8px;
		}
	}

	.rs-inputs {

		.field-container {
			font-size: 16px;

			input.field {
				padding: 7px 9px;
				width: ~"calc(100% - 22px)";
			}

			select.field {
				padding: 7px 9px;
				width: 100%;
			}

			div.field {
				padding: 9px 9px;
				width: 100%;
			}
		}
	}
}
