	
.calculated-result {
    border-bottom: 2px solid @rsDarkOrange;
    padding: 0px 3px;
}

.flat-result {
    border-bottom: 2px solid @rsDarkPurple;
    padding: 0px 3px;
}

.linked-value {
	text-decoration: underline;
	white-space: nowrap;
	cursor: pointer;
}

.rendered-value.red {
	color: @rsRed;
}

.rendered-value.orange {
	color: @rsOrange;
}

.rendered-value.yellow{
	color: @rsYellow;
}

.rendered-value.green {
	color: @rsGreen;
}

.rendered-value.blue {
	color: @rsBlue;
}

.rendered-value.purple {
	color: @rsPurple;
}

.super-script {
    vertical-align: super;
}

.sub-script {
	vertical-align: sub;
}