.dnd-component.entity-heading {
	display: block;
	position: relative;

	/*
	.entity-hat {
		display: inline-block;
		height: 16px;
		width: 16px;
		border-radius: 8px;
		margin: 0px 5px 0px 0px;
		padding: 0px;
	}
	*/

	.entity-hat {
		position: relative;
		top: 3px;
	}

	.iconography {
		padding: 0px 5px 0px 0px;
	}

	.property {
		.game-icon {
			margin-right: 3px;

			&:last-child {
				margin-right: 0px;
			}
		}
	}

	.name button {
		font-size: 24px;
	}
	
	.level button {
		font-size: 14px;
	}

	.bar {
		// margin: 5px;
	}

	.property {
		align-items: center;
	}
}
