<div class="rs-component dnd-component entity-heading">
	<div class="justified flex h bar">
		<div class="property-container name flex h centered" v-linkable="entity.id">
			<button class="property" v-if="entity.is_locked === true" v-on:click="info('knowledge:locked')">
				<span class="fas fa-lock-alt"></span>
			</button>
			<button class="property" v-else-if="entity.is_shop && !entity.is_locked" v-on:click="shop()">
				<span v-if="entity.discount.all !== 1" class="fas fa-shopping-cart"></span>
				<span v-if="entity.discount.all === 1" :class="entity.icon || 'fas fa-treasure-chest'"></span>
			</button>
			<button class="property" v-else-if="entity.is_locked === false" v-on:click="info('knowledge:locked')">
				<span class="fas fa-unlock-alt"></span>
			</button>
			<button class="property" v-on:click="info(entity)">
				<span :class="entity.icon"></span>
				<span v-if="entity.color_flag" class="entity-hat game-icon game-icon-top-hat" :class="getHatColor()"></span>
				<span>{{entity.nickname || entity.name}}</span>
			</button>
		</div>
	</div>
</div>
