<div class="system-component table-controls">
	<div class="filtering" v-on:keyup.stop.prevent>
		<input type="text" v-model="storage.filter" v-on:keydown.esc.stop="clearFilter()"/>
		<span class="search-icon fas fa-search"></span>
	</div>
	<div class="controls">
		<div class="sub-controls" v-if="controls">
			<button class="ctrl selections info" v-for="control in controls" v-on:click="control.process()" :title="control.title">
				<span :class="control.icon"></span>
				<span>{{control.name}}</span>
			</button>
		</div>
		<button class="ctrl selections clear" v-if="selected" v-on:click="clearSelection()">
			<span class="far fa-ban"></span>
		</button>
		<button class="ctrl selections all" v-if="selected !== corpus.length" v-on:click="allSelection()">
			<span class="far fa-check-square"></span>
		</button>
		<button class="ctrl selections info" v-if="selected" v-on:click="infoSelection()">
			<span class="far fa-info-circle"></span>
		</button>
		<select class="ctrl paging" v-model.number="storage.rows">
			<option :value="storage.rows">{{storage.rows}}</option>
			<option :value="5">5</option>
			<option :value="10">10</option>
			<option :value="15">15</option>
			<option :value="20">20</option>
			<option :value="25">25</option>
			<option :value="30">30</option>
			<option :value="40">40</option>
			<option :value="50">50</option>
		</select>
	</div>
</div>
