.dnd-page.dnd-inventory {

	.inventory-container {
		flex-grow: 10;
		height: 100%;
	}

	.heading {
		line-height: 40px;
		height: 40px;
		font-size: 20px;

		.weight {
			border-width: 0px 0px 1px 0px;
		}

		button.action {
			font-size: inherit;

			.action-icon {
				font-size: .8em;
			}
		}
	}

	.rs-table {
		position: relative;
		overflow: auto;
		flex-grow: 5;
		height: ~"calc(100% - 40px)";
		font-size: 16px;

		.table-scroll-container {
			width: 100%;
			z-index: 3;
			flex-grow: 5;
			overflow: auto;

			.table-container {
				width: 100%;
				
				table {
					width: 100%;
				}
			}
		}

		.name {
			text-align: left;
		}

		.table-record.held_by {
			.table-content {
				max-width: 200px;
				overflow: hidden;
				font-size: 17px;
			}
		}

		.icon {
			position: relative;

			span {
				display: inline-block;
				border: 3px solid transparent;
				border-radius: 40px;
				padding: 5px;
				height: 20px;
				width: 20px;
				font-size: 16px;
			}

			.hidden_item {
				border-bottom-color: @rsLightRed;
			}

			.attuned_item {
				border-top-color: @rsBlue;
			}

			.equipped_item {
				border-right-color: @rsGreen;
				border-left-color: @rsGreen;
			}
		}
	}

	.entity-slot {
		margin-top: 10px;

		.entity-slot-header {
			line-height: 20px;
			font-size: 20px;
			vertical-align: middle;
		}
		
		.entity-slot-contain {
			padding: 5px 0px 0px 0px;
			line-height: 18px;
			font-size: 16px;

			.slot-contents {
				padding: 3px 15px;
			}
		}
	}

	.type-readout {
		width: 400px;

		.chart-container {
			height: 300px;
		}
	}
}
