.dnd-page.dnd-inventory {


	.rs-table {
		.name {
			text-align: left;
		}

		.table-record.held_by {
			max-width: 200px;
			overflow: hidden;
		}

		.hidden_item {
			border-bottom: 2px solid @rsLightRed;
		}
	}
}
