{
	"authentication": {
		"local": {
			"type": "user",
			"name": "username",
			"hash": "password",
			"time": 259200000
		},
		"facebook": {
			"type": "user"
		},
		"google": {
			"OAUTH2_CLIENT_ID": "your_client_id",
			"OAUTH2_CLIENT_SECRET": "your_client_secret",
			"OAUTH2_CALLBACK": "/login/link/google",
			"name": "username",
			"hash": "password",
			"time": 259200000
		}
	}
}
