{
	"authentication": {
		"modules": ["local", "facebook", "google"],
		"local": {
			"type": "user",
			"name": "username",
			"hash": "password",
			"time": 259200000
		},
		"facebook": {
			"type": "user"
		},
		"google": {
			"type": "user"
		}
	}
}
