{
	"classes": [
		"id": "entity",
		"name": "Entity",
		"description": "A manipulatable entry in the Universe.",
		"fields": ["name", "description", "slots"]
	}, {
		"id": "race",
		"name": "Race",
		"description": "xxxx",
		"fields": ["name", "description"]
	}, {
		"id": "type",
		"name": "Type",
		"description": "Indicates the type of object here-in for game purposes. Such as 'weapon' or 'ranged' and are for use incombination in determing or displaying properties for the object.",
		"fields": ["name", "description", "disabled"]
	}, {
		"id": "journal",
		"name": "Journal",
		"description": "xxxx",
		"fields": ["name", "description", "disabled", "attribute"]
	}, {
		"id": "page",
		"name": "Page",
		"description": "A page in any set of journals. This is to allow replication of information across multiple journals and facilitate sharing with other players without duplication.",
		"fields": ["name", "description", "disabled", "journals", "versioning", "value", "time", "date"]
	}, {
		"id": "item",
		"name": "Item",
		"description": "An item used by entities",
		"fields": ["name", "description", "icon", "cost", "types", "needs", "damage", "dmgtype", "range", "durability", "size", "weight", "encumberance", "proiciency", "stat", "ranged", "thrown", "consume", "consume_hint", "consume_icon", "dc", "user", "attunes", "attuned", "attuned_locked", "charges", "recharges", "enchantments", "conditionals"]
	}, {
		"id": "quest",
		"name": "Quest",
		"description": "Specific entry for objectives.",
		"fields": ["name", "description", "locations", "items", "conditionals"]
	}, {
		"id": "location",
		"name": "Location",
		"description": "xxxx",
		"fields": ["name", "description"]
	}]
}
