<div class="rs-component dnd-component master-meeting flex v">
	<div class="meeting flex v" v-if="active">
		<h1 v-on:click="toggleNameEdit()">{{active.name}}</h1>
		<div class="meeting-info">
			<div class="meeting-name flex h" v-if="editName">
				<input class="grow-1" v-delayed:1500="name" />
			</div>
			<div class="meeting-description flex h">
				<textarea class="grow-1" v-delayed:500="description"></textarea>
			</div>
		</div>
		<div class="flex h wrap master-actions">
			<button class="rounded general quick action" v-on:click="forwardTime(6)" title="1 Round (6 Seconds)">
				<span class="action-icon fas fa-history rot180 inverted"></span>
				<span class="action-count">1</span>
			</button>
			<button class="rounded general quick action" v-on:click="forwardTime(60)" title="1 Minute">
				<span class="action-icon fas fa-history rot180 inverted"></span>
				<span class="action-count">10</span>
			</button>
			<button class="rounded general quick action" v-on:click="forwardTime(600)" title="10 Minutes">
				<span class="action-icon fas fa-history rot180 inverted"></span>
				<span class="action-count">100</span>
			</button>
			<button class="rounded general quick action" v-on:click="forwardTime(3600)" title="1 Hour">
				<span class="action-icon fal fa-hourglass-start"></span>
				<span class="action-count">1</span>
			</button>
			<button class="rounded general quick action" v-on:click="forwardTime(18000)" title="5 Hours">
				<span class="action-icon fal fa-hourglass-start"></span>
				<span class="action-count">5</span>
			</button>
			<button class="rounded general quick action" v-on:click="forwardTime(86400)" title="1 Day">
				<span class="action-icon fal fa-calendar-day"></span>
				<span class="action-count">1</span>
			</button>
			<button class="rounded general quick action" v-on:click="forwardTime(432000)" title="1 Week">
				<span class="action-icon fal fa-calendar-week"></span>
				<span class="action-count">1</span>
			</button>
			<button class="rounded general quick action" v-on:click="forwardTime(2160000)" title="5 Weeks">
				<span class="action-icon fal fa-calendar-week"></span>
				<span class="action-count">5</span>
			</button>
			<button class="rounded general quick action" v-on:click="forwardTime(4320000)" title="10 Weeks">
				<span class="action-icon fal fa-calendar-week"></span>
				<span class="action-count">10</span>
			</button>
			<button class="rounded general quick action" v-on:click="toggleTimeLock()" title="Toggle Time Locking">
				<span class="action-icon fas" :class="storage.timeLocked?'fa-lock':'fa-unlock'"></span>
			</button>
			<button class="rounded general quick action" v-if="!skirmish" v-on:click="startSkirmish()" title="Start Skirmish">
				<span class="action-icon fas fa-swords"></span>
			</button>
			<button class="rounded general quick action" v-if="skirmish" v-on:click="finishSkirmish()" title="Finish Skirmish">
				<span class="action-icon fas fa-treasure-chest"></span>
			</button>
			<button class="rounded general quick action" v-if="skirmish" v-on:click="nextTurmSkirmish()" title="Next Turn in Skirmish">
				<span class="action-icon fas fa-step-forward"></span>
			</button>
		</div>
		<div class="calendar-date">
			<span>{{renderedDate}}</span>
		</div>
		<div class="flex h wrap master-actions">
			<button class="rounded general quick action" v-on:click="setStartDate()">
				<span class="fas fa-calendar-day"></span>
			</button>
			<button class="rounded general quick action" v-if="storage.timeLocked" v-on:click="timeToMeeting(active)">
				<span class="fas fa-clock"></span>
			</button>
			<button class="rounded general action" v-on:click="setStartTime()">
				<span class="fas fa-clock"></span>
				<span>Start</span>
			</button>
			<button class="rounded general action" v-on:click="setEndTime()">
				<span class="fas fa-clock"></span>
				<span>End</span>
			</button>
			<!-- TODO: Organize Players - Connected Taged as present, Unconnected moved to Absent - Meetings will be premade for notification purposes -->
			<button class="rounded general quick action" v-on:click="levelUp(1)" v-on:click.right.stop.prevent="levelUp(-1)" title="Level up characters. Right click to level down.">
				<span class="fas fa-user-plus"></span>
			</button>
		</div>
	</div>
	<div class="flex h wrap master-actions">
		<button class="rounded general quick action" v-on:click="createNextMeeting()">
			<span class="fas fa-calendar-plus"></span>
		</button>
		<select class="select-meeting grow-1" v-model="id">
			<option v-for="meet in meetings" :value="meet.id">{{meet.name}}</option>
		</select>
	</div>
	<div class="flex v" v-if="entities.length">
		<div class="entity" v-for="entity in entities" :data-id="entity.id">
			<span class="etity-icon" :class="entity.icon"></span>
			<span class="entity-name">{{entity.name}} - </span>
			<span class="entity-player">{{universe.index.player[entity.played_by]?universe.index.player[entity.played_by].name:entity.played_by}}</span>
		</div>
	</div>
</div>
