<div class="rs-component dialog-calendar">
	<div class="flex h">
		<button class="ctrl previous" v-on:click="previous()">
			<span class="fa-solid fa-chevron-left"></span>
		</button>
		<div class="name-bar flex v centered" v-on:click="viewYear()">
			<h2 class="month-name">
				{{getRenderingTitle()}}
			</h2>
			<span>( {{getRenderingSubtitle()}} )</span>
		</div>
		<button class="ctrl next" v-on:click="next()">
			<span class="fa-solid fa-chevron-right"></span>
		</button>
	</div>

	<div class="error" v-if="error">
		<span :class="error.class"></span>
		<span>{{error.text}}</span>
	</div>

	<div class="view day" v-if="viewingDay()">
		<rs-calendar-day :rendering="rendering" :today="today" :universe="universe" :calendar="calendar" :event-reference="eventReference" :entity="entity" v-on:month="openMonth" v-on:year="openYear"></rs-calendar-day>
	</div>

	<div class="view month" v-if="viewingMonth()">
		<rs-calendar-month :rendering="rendering" :today="today" :universe="universe" :calendar="calendar" :event-reference="eventReference" :entity="entity" v-on:day="openDay" v-on:year="openYear"></rs-calendar-month>
	</div>

	<div class="view year" v-else-if="viewingYear()">
		<rs-calendar-year :rendering="rendering" :today="today" :universe="universe" :calendar="calendar" :event-reference="eventReference" :entity="entity" v-on:day="openDay" v-on:month="openMonth"></rs-calendar-year>
	</div>

	<div class="view era" v-else>
		<rs-calendar-era :rendering="rendering" :today="today" :universe="universe" :calendar="calendar" :event-reference="eventReference" :entity="entity"></rs-calendar-era>
	</div>
</div>
