.rs-component.dialog-calendar {

	.ctrl {
		padding: 5px;
		min-width: 64px;
		min-height: 64px;
		flex-shrink: 0;
		flex-grow: 0;
	}

	.name-bar {
		flex-grow: 10;
	}

	.view {
		position: relative;
		width: 800px;
		height: 700px;

		.displayed {
			animation-name: toDisplay;
			animation-duration: 2s;
		}

		.dismissed {
			animation-name: toDismiss;
			animation-duration: 2s;
		}
	}

	@keyframes toDisplay {
		from {
			position: absolute;
			top: -200px;
			left: -300px;
			width: 900px;
			height: 600px;
			z-index: 1;
			display: none;
		}

		to {
			position: relative;
			top: 0px;
			left: 0px;
			width: 600px;
			height: 400px;
			z-index: 5;
			display: block;
		}
	}

	@keyframes toDismiss {
		from {
			position: relative;
			top: 0px;
			left: 0px;
			width: 600px;
			height: 400px;
			z-index: 5;
			display: block;
		}

		to {
			position: absolute;
			top: -200px;
			left: -300px;
			width: 900px;
			height: 600px;
			z-index: 1;
			display: none;
		}
	}
}
